<template>
    <div class="container res-container">
        <div id="about">
            <section class="about-head">
                <div class="page-heading about-heading header-text img-fluid" :style="image"></div>
            </section>

            <section>
                <div class="best-features about-features" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-12 col-12">
                                <div class="section-heading">
                                    <h1>Our Vision</h1>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6 col-12 img-tb">
                                <div class="right-image">
                                    <img src="images/about-us/our-vision.jpg" alt="our-vision" />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6 col-12">
                                <div class="left-content pad">
                                    <h4>Who we are &amp; What we do?</h4>
                                    <p>
                                        Al-Mumtaz is having the vision of providing best Electronics Products at very reasonable prices with affordability and 100% quality factor. By doing so we believe that we will make Al-Mumtaz
                                        Pakistan’s top leading online Hub / Store. Our base is relying on latest technology, Secure and modern way of dealing with customer. <br />
                                        <br />
                                        Our highly professional team makes our dream come true by their continued synchronous hard work. Every day we are more enthusiastic to make Al-Mumtaz feel proud by serving the nation. “Our vision is
                                        your best future”.
                                    </p>
                                    <ul class="social-icons">
                                        <li>
                                            <a href="https://www.facebook.com/AlMumtazAGE" target="_blank"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/almumtazgroup/" target="_blank"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-behance"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- mission statement -->
            <div class="best-features about-features" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="section-heading">
                                <h1>Mission Statement</h1>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="left-content">
                                <h4>Who we are &amp; What we do?</h4>
                                <p>
                                    Al-Mumtaz Group of Electronics Strives for providing happiness to the common people by bringing daily use goods to affordable range of those who otherwise cannot afford them. We believe watching big
                                    dreams is the born right of every Pakistani. <br />
                                    <br />
                                    What a blessing we serve the nation and ensure their dreams come true. At Al-Mumtaz Group of Electronics we breed and encourage professionals to dream high. Our slogan is “You think we do, you dream we
                                    make it true”.
                                </p>
                                <ul class="social-icons">
                                    <li>
                                        <a href="https://www.facebook.com/AlMumtazAGE" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/almumtazgroup/" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-image">
                                <img src="images/about-us/mission.jpg" height="350px" alt="mission" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section>
                <!--end mission statement -->
            </section>
            <!-- team section -->
            <section class="our-team img-fluid" :style="{backgroundImage:`url(${team})`}" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300"></section>
            <!-- end team section -->


            <!-- sales & offers section -->
            <section data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
                <div class="header-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-content">
                                    <h4>Sales & Offers</h4>
                                    <p class="lead">
                                        Here at Al-Mumtaz we offer some hot sales and exciting exclusive offers to provide our worthy clients and customers a best level of comfort. Our sales for example December sale mela , Summer Sale
                                        ,Winter sale , End of the season sale , occasional sales and many more brings opportunities to get the same qualitied branded products at best prices. We also offer lucky draws for engagement of our
                                        esteemed customers. Through these lucky draws we provide our customers with wonderful surprises. So always stay tuned and get in touch always with Al-Mumtaz for Exciting offers.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-lg-12 col-md-12 col-xl-12 sale-heading sale p-20" :style="sale"></div>
            </section>
            <!--end sales & offers section -->

            <!-- customer care -->
            <section class="customer-care py-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="text-center">Customer Care</h1>
                        </div>
                        <div class="col-lg-12">
                            <p class="text-center">
                                We provide 24/7 customer care support. You can a contact us at any time because your problem is our problem and for that problem our highly professional team is present with all possible solutions
                            </p>
                            <p>You can contact at.</p>
                        </div>
                        <div class="col-lg-4">
                            <div class="card align-items-center bg-dark">
                                <i class="fas fa-envelope py-3 text-light"></i>
                                <div class="card-block text-center">
                                    <h4 class="card-title text-light">support@almumtaz.com.pk</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card align-items-center bg-dark">
                                <i class="fas fa-phone py-3 text-light"></i>
                                <div class="card-block text-center">
                                    <h4 class="card-title text-light">+92-310-3337420</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card align-items-center bg-dark">
                                <i class="fab fa-facebook-messenger py-3 text-light"></i>
                                <div class="card-block text-center">
                                    <h4 class="card-title text-light">Messenger</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-4">
                            <p>
                                You can contact us freely and get informed about what you are having trouble of. We might be off due to vacations, system issues, and technical issues. But our foremost priority is to provide you support
                                24/7.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!--end  customer care -->
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                about: "./images/about-us/about-heading.jpg",
                image: { backgroundImage: "url(./images/about-us/about-us.jpg) " },
                team: "./images/about-us/team.jpg",
                sale: { backgroundImage: "url(./images/about-us/offer-background.jpg) " },
            };
        },
        mounted() {
            $('#cover').fadeOut();
            $("html, body").animate(
                {
                    scrollTop: $("#main_head").offset().top,
                },
                500
            );
        },
    };
</script>
``
<style scoped>
    .our-team {
        margin-top: 8rem;
        padding: 170px 0px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .page-heading {
        padding: 130px 0px 130px 0px;
        text-align: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .page-heading .text-content h4 {
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .page-heading .text-content h2 {
        color: #fff;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .page-heading .text-content h4 {
        font-size: 22px;
    }

    /* brand */
    ul li {
        list-style: none;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
    }
    /*end brand */

    /* mission statement */
    .team {
        height: 50vh;
    }
    .team-heading {
        padding: 20px;
        text-align: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .team-heading .text-content h4 {
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .team-heading .text-content p {
        color: #fff;
        font-size: 16px;
        letter-spacing: 3px;
    }

    /* sale & offers */

    /* .sale
    {
        height: 60vh;
    } */
    .sale-heading {
        padding: 15rem;
        text-align: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .sale-heading .text-content {
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 0px;
        /* margin-bottom: 20px; */
    }
    .sale-heading .text-content h4 {
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .sale-heading .text-content p {
        color: #fff;
        font-size: 16px;
        letter-spacing: 3px;
    }
    /*end  sale & offers */

    /*end mission statement */
    .about-heading {
        height: 40vh;
    }
    .best-features {
        margin-top: 50px;
    }

    .best-features .container .row {
        border-bottom: 1px solid #eee;
        padding-bottom: 60px;
    }

    .best-features img {
        width: 100%;
        overflow: hidden;
    }

    .best-features h4 {
        font-size: 17px;
        color: #1a6692;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .best-features ul.featured-list li {
        display: block;
        margin-bottom: 10px;
    }

    .best-features p {
        margin-bottom: 25px;
    }

    .best-features ul.featured-list li a {
        font-size: 14px;
        color: #4a4a4a;
        font-weight: 300;
        transition: all 0.3s;
        position: relative;
        padding-left: 13px;
    }

    .best-features ul.featured-list li a:before {
        content: "";
        width: 5px;
        height: 5px;
        display: inline-block;
        background-color: #4a4a4a;
        position: absolute;
        left: 0;
        transition: all 0.3s;
        top: 8px;
    }

    .best-features ul.featured-list li a:hover {
        color: #f33f3f;
    }

    .best-features ul.featured-list li a:hover::before {
        background-color: #f33f3f;
    }

    .best-features .filled-button {
        margin-top: 20px;
    }
    .best-features .left-content {
        margin-bottom: 30px;
    }
    .left-content {
        margin-left: 0px;
    }

    .about-features {
        margin-top: 100px !important;
    }

    .about-features p {
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
    }

    .about-features .container .row {
        padding-bottom: 0px !important;
        border-bottom: none !important;
    }
    .about-features img {
        margin-bottom: 30px;
    }
    .section-heading {
        text-align: left;
        margin-bottom: 60px;
        border-bottom: 1px solid #eee;
    }

    .section-heading h2 {
        font-size: 28px;
        font-weight: 400;
        color: #1e1e1e;
        margin-bottom: 15px;
    }
    ul.social-icons li {
        display: inline-block;
        margin-right: 3px;
    }

    ul.social-icons li:last-child {
        margin-right: 0px;
    }

    ul.social-icons li a {
        width: 50px;
        height: 50px;
        display: inline-block;
        line-height: 50px;
        background-color: #eee;
        color: #121212;
        font-size: 18px;
        text-align: center;
        transition: all 0.3s;
    }

    ul.social-icons li a:hover {
        background-color: #f33f3f;
        color: #fff;
    }
    .header-text {
        padding-top: 100px;
    }
    @media screen and (max-width: 500px) {
        .page-heading {
            padding: 0px;
        }
        .pad {
            padding-top: 100px;
        }
    }
    @media screen and (max-width: 768px) {
        .img-tb {
            top: 70px;
        }
    }
    @media screen and (max-width: 1440px) {
        .res-container {
            max-width: 100% !important;
            padding: 0px !important;
        }
    }
</style>
