<template>
    <div class="container res-container">
        <div class="container-fluid p-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
            <div class="row mb-resp">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-4 mb-4 col-md-4 col-12 col-xl-3" v-for="(post, index) in posts" :key="index" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
                            <div class="card">
                                <img class="img-sze img-resp d-flex justify-content-center" :src="'blogs_images/' + post.image" alt="Bologna" />
                                <div class="card-body text-dark">
                                    <h4 class="card-title title-txt">{{ post.title }}</h4>
                                    <p class="card-text text-txt">
                                        I love quick, simple pasta dishes, and this is one of my favorite.
                                    </p>
                                    <router-link :to="{ name: 'readblog', params: { id: post.id } }" class="btn btn-danger btn-smal text-white">Read More</router-link>
                                </div>
                                <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                    <div class="views text-dark">{{new Date(post.date+'T00:00:00').toLocaleString('en-US', options)}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-3 col-md-3">
                    <h5 class="font-weight-bold lat-txt">Latest Posts</h5>
                    <div class="card post-card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="rounded-circle image" :src="postimage" alt="Card image cap" width="50%" height="50%" />
                            </div>
                            <div class="card-body">
                                <h4 class="post-title">This is blog</h4>
                                <small class="text-muted post-date">Oct 20, 12:45PM</small>
                            </div>
                        </div>

                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="rounded-circle image" :src="postimage" alt="Card image cap" width="50%" height="50%" />
                            </div>
                            <div class="card-body">
                                <h4 class="post-title">This is blog</h4>

                                <small class="text-muted post-date">Oct 20, 12:45PM</small>
                            </div>
                        </div>

                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="rounded-circle image" :src="postimage" alt="Card image cap" width="50%" height="50%" />
                            </div>
                            <div class="card-body">
                                <h4 class="post-title">This is blog</h4>
                                <small class="text-muted post-date">Oct 20, 12:45PM</small>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                posts: {},
                options : {
                    year: 'numeric', month: 'long', day: 'numeric',hour : 'numeric',minute : 'numeric',second:'numeric'
                },
                postimage: "./images/Brand_banner_02.png",
            };
        },
        methods: {
            getPosts() {
                let self = this;
                axios
                    .get("getblog")
                    .then(function (response) {
                        self.posts = response.data.data;
                        $('#cover').fadeOut();
                    });
            },
        },
        mounted() {
            this.getPosts();
        },
    };
</script>
<style scoped>
    a {
        font-style: none;
        color: black;
    }
    a:hover {
        font-style: none;
        text-decoration: none;
    }
    .card:hover {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    }
    .card-title {
        font-size: 18px;
        margin-bottom: 0.3rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
        border: none;
    }
    .post-card {
        border: none;
    }
    .post-card:hover {
        box-shadow: none;
    }
    .post-title {
        font-size: 13px;
        font-weight: bold;
    }

    .card-title {
        font-size: 15px;
    }
    .image {
        width: 64px;
        height: 50px;
        margin-top: 8px;
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .card-img {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .cat {
        display: inline-block;
        margin-bottom: 1rem;
    }

    .fa-users {
        margin-left: 1rem;
    }

    .post-date {
        font-size: 0.8rem;
    }
    @media screen and (max-width: 1440px) {
        .res-container {
            max-width: 100% !important;
            padding: 0px !important;
        }
    }
    @media screen and (max-width: 768px) {
        .title-txt {
            font-size: 12px;
        }
        .text-txt {
            font-size: 12px;
        }
        .btn-smal {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5;
            border-radius: 0.2rem;
        }
        .views {
            font-size: 10px;
        }
        .lat-txt {
            font-size: 20px;
        }
        .image {
            width: 50px;
            height: 50px;
        }
        .post-title {
            font-size: 9px;
        }
        .post-date {
            font-size: 7px;
        }
    }
    @media screen and (max-width: 500px) {
        .mb-resp {
            margin-top: 35px;
        }
    }
</style>
