<template>
    <div class="container">
        <section data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
            <h1 class="text-center mt-4 mb-4">Cart</h1>
            <table class="table table-hover" style="display:none" id="cart_table">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(cartItem,index) in cartItems" :key="cartItem.id">
                        <td>{{index = index + 1 | formatNumber}}</td>
                        <td>
                            <img :src="'.' + (cartItem.item.image_path)" class="img-fluid img-hw" alt="image" />
                        </td>
                        <td>{{cartItem.item.name}}</td>
                        <td>{{cartItem.item.onsale ? cartItem.item.total_price : cartItem.item.price | formatNumber}}</td>
                        <td class="btn-group">
                            <button class="btn btn-info btn-sm" v-show="cartItem.qty > 1" @click="cartItem.qty--"><i class="fa fa-minus m-0"></i></button>
                            <input type="text" :value="cartItem.qty" />
                            <button class="btn btn-info btn-sm" @click="cartItem.qty++"><i class="fa fa-plus m-0"></i></button>
                        </td>
                        <td>{{cartItem.item.onsale ? cartItem.item.total_price * cartItem.qty : cartItem.item.price * cartItem.qty | formatNumber}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" title="Remove" @click="removeCartItem(cartItem.id)"><i class="fa fa-remove m-0"></i></button>
                        </td>
                    </tr>
                    <tr v-if="cartItems.length < 1">
                        <td colspan="7" class="text-center">No Record Found!</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12" id="without_login_message" style="display:none"></div>
            <div class="col-md-12 text-center">
                <button @click="updateCartItems()" type="button" class="btn btn-primary">Update Cart</button>
            </div>
            <hr />
            <div class="container-sm" style="width: fit-content;" v-if="cartItems.length > 0" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
                <div class="jumbotron">
                    <div class="container-sm">
                        <h1 class="display-6 text-center">Order Summary</h1>
                        <h5 class="text-center" id="user_cart_count_on_cart_page">Total Items: {{total_quantity | formatNumber}}</h5>
                        <p class="text-center">Total Amount : Rs. {{total_price | formatNumber}}</p>
                        <div class="text-center">
                        <router-link class="btn btn-success text-center" to="/CheckOut">Proceed To Checkout <i class="fa fa-arrow-right"></i></router-link>
                        </div>
                    </div>
                </div>
            </div>
            <hr v-if="cartItems.length > 0"/>
            <div class="mb-3" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
                <div class="pt-4">
                    <h5 class="mb-4">We accept</h5>
                     <img src="images/jazzcash.jpg" alt="jazzcash" width="200">
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                cartItems: [],
            };
        },
        methods: {
            getCartItems() {
                let self = this;
                axios
                    .get("cart")
                    .then(function (response) {
                        self.cartItems = response.data.data;
                        console.log(response.data.data);
                        $('#cart_table').show();
                        $('#cover').fadeOut();
                    })
                    .catch(function (error) {
                        if(error.response){
                            if(error.response.status == 401){
                                $('#without_login_message').append('<h4>Please Login To View Your Cart!</h4>');
                                $('#without_login_message').show();
                            }
                        }
                    });
            },
            updateCartItems(){
                let self = this;
                axios
                    .post("updatecart", {
                        items: self.cartItems,
                })
                .then(function (response){
                   if (response.data.code == 200) {
                        self.getCartItems();
                    }
                })

            },
            removeCartItem(id) {
                if (confirm("Are you Sure? You Want to delete this item.")) {
                    let self = this;
                    axios
                        .delete("cart/" + id)
                        .then(function (response) {
                            if (response.data.code == 200) {
                                self.getCartItems();
                                self.$root.getCartCount();
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
        },
        mounted() {
            this.getCartItems();
               $("html, body").animate(
                {
                    scrollTop: $("#main_head").offset().top,
                },
                500
            );
        },
        computed : {
            total_quantity(){
                return this.cartItems.length;
            },
            total_price(){
                let total_price = 0;
                this.cartItems.forEach((item) => {
                    total_price += Number(item.item.onsale ? item.item.total_price * item.qty : item.item.price * item.qty);
                })
                return total_price
            },
        },
    };
</script>

<style scoped>
    .wrapper {
        height: 30px;
        display: flex;
    }
    .quantity {
        -webkit-appearance: none;
        border: none;
        text-align: center;
        width: 30px;

        font-size: 16px;
        color: #43484d;
        font-weight: 300;
        border: 1px solid #e1e8ee;
    }
    input {
        width: 100px;
        text-align: center;
        font-size: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    .img-hw{
        height: 60px;
        width: 60px;
    }
    @media screen and (max-width: 500px) {
        .img-hw{
        height: 100%;
        width: 100%;
    }
    }
</style>
