<template>
    <!--Grid row-->
    <div class="container">
        <div id="customer_form">
            <form @submit.prevent="submitForm">
                <div class="row my-4 mt-5">
                    <!--Grid column-->
                    <div class="col-lg-6 mb-4 d-flex justify-content-center mt">
                        <!-- Card -->
                        <div class="card wish-list pb-1 border-0">
                            <div class="card-body">
                                <h4 class="mb-4 size">Billing details</h4>
                                <div class="mx-4">
                                    <!-- First name -->
                                    <div class="form-group col-lg-10 col-md-8">
                                        <b-form-input id="input-small" placeholder="Name" class="form-control form-control-sm" :value="get_user.name" required readonly></b-form-input>
                                    </div>
                                    <!-- Last name -->
                                    <div class="form-group col-lg-10 col-md-8">
                                        <b-form-input id="input-small" placeholder="Email" class="form-control form-control-sm" :value="get_user.email" name="email" required readonly></b-form-input>
                                    </div>
                                    <!-- phone number -->
                                    <div class="form-group col-lg-10 col-md-8">
                                        <b-form-input id="input-small" v-model="form.phone_number"  placeholder="Phone number" class="form-control form-control-sm" name="phone_number" required></b-form-input>
                                    </div>
                                     <!-- Country -->
                                    <div class="form-group col-lg-10 col-md-8">
                                        <b-form-input id="input-small" v-model="form.country" placeholder="Country" class="form-control form-control-sm"  name="country" required></b-form-input>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-5 col-xl-6 pr-0 p-res">
                                            <b-col sm="12">
                                                <b-form-input id="input-cvv" v-model="form.city" name="city" size="sm" placeholder="City/Province" required></b-form-input>
                                            </b-col>
                                        </div>

                                        <div class="form-group col-lg-5 col-md-4 col-xl-5 set2 p-res">
                                            <b-col sm="12">
                                                <b-form-input id="input-cvv" size="sm" v-model="form.zip" placeholder="Zip/Postal" name="postal" required></b-form-input>
                                            </b-col>
                                        </div>
                                    </div>

                                    <!-- Postcode / ZIP -->
                                    <div class="form-group col-lg-10 col-md-8">
                                        <b-form-input id="input-houseno" v-model="form.address" placeholder="House no/Street/Town/City" class="form-control form-control-sm" name="address" required></b-form-input>
                                    </div>
                                </div>

                                <h4 class="mb-4 size">Payment Method</h4>
                                <div class="mx-4">
                                    <div>
                                        <div class="bord mb-4 col-lg-10 col-md-8">
                                            <div class="form-check">
                                                <b-form-radio v-model="form.paymentMethod" value="card" name="payment_method" id="one">
                                                    <span class="pay-clr">Card Payment </span> <img src="images/jazzcash.jpg" alt="jazzcash" width="135" id="payment_methods" />
                                                </b-form-radio>
                                            </div>
                                        </div>
                                        <div id="card-payment">
                                            <div class="form-group col-lg-10 col-md-8">
                                                <b-form-input id="input-cardno" v-model="form.cardNumber" placeholder="Card Number" name="card" class="form-control form-control-sm"></b-form-input>
                                            </div>

                                            <p class="mb-0 exp">Expiry Date</p>
                                            <div class="row">
                                                <div class="form-group col-lg-5 col-md-3 col-xl-4">
                                                    <b-col sm="12">
                                                        <b-form-select v-model="form.month" :options="Month" size="sm"></b-form-select>
                                                        <!-- <b-form-select v-model="selected">
                                                    <option disabled value=""></option>
                                                    <option value="jan">Jan</option>

                                                </b-form-select> -->
                                                    </b-col>
                                                </div>
                                                <div class="form-group col-lg-4 col-md-3 col-xl-4 set1">
                                                    <b-col sm="12">
                                                        <b-form-select v-model="form.year" :options="Year" size="sm"></b-form-select>
                                                    </b-col>
                                                </div>
                                                <div class="form-group col-lg-4 col-md-4 col-xl-4 set2">
                                                    <b-col sm="12">
                                                        <b-form-input id="input-cvv" v-model="form.cvv" size="sm" placeholder="CVV" name="cvv"></b-form-input>
                                                    </b-col>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bord col-lg-10 col-md-8">
                                        <div class="form-check">
                                            <b-form-radio v-model="form.paymentMethod" value="cash" id="two" name="payment_method"><span class="pay-clr">Cash On Delivery</span></b-form-radio>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <div class="col-lg-6">
                        <div class="size-box">
                            <img class="w-100 img-h" src="images/checkout picture.jpg" alt="checkout image" />
                        </div>
                        <div>
                            <h4 class="size mb-4">Cart Summary</h4>
                            <div class="">
                                <div class="card2decs">
                                    <p class="quantity pay-clr border-bot">Total Items<span class="float-right text1">{{cartItems.length}}</span></p>
                                    <p class="subtotal pay-clr border-bot">Subtotal<span class="float-right text1">{{total_price | formatNumber}}</span></p>
                                    <p class="shipping pay-clr border-bot">Delivery Charges<span class="float-right text1">{{deliveryCarges}}</span></p>
                                    <p class="total pay-clr">
                                        <strong>Total</strong><span class="float-right totalText1">Rs. <span class="totalText2">{{total_price + deliveryCarges | formatNumber}}</span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 btn-res">
                        <div class="d-flex justify-content-center">
                            <p class="f-size">By Clicking the button you agree to <router-link to="/termscondition">Terms and Conditions</router-link></p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <b-col lg="4" class="pb-4 d-flex justify-content-center"><b-button size="lg" class="clr-font" type="submit">Place Order</b-button></b-col>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div style="display: none;" id="thankyou">
            <div class="row">
           <div class="col-lg-6 mt-5">
            <h1 class="p-5 font-weight-bold font-italic"><span class="text-danger">Thank You!</span> Your order has been placed.</h1>
            </div>
          <div class="col-lg-6">
            <img style="width:500px; height:500px; font-family:Lucida Console" src="images/order.gif" alt="order" />
          </div>
            </div>


        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: new Form({
                    // name:'',
                    // id: "",
                    phone_number:'',
                    country: "",
                    address: "",
                    city: "",
                    zip: "",
                    paymentMethod: "",
                    cardNumber: "",
                    month: "",
                    year: "",
                    cvv: "",
                    // cash:'',
                }),
                form:{},
                get_user: {},
                cartItems: [],
                deliveryCarges: 0,
                // selected: '',
                Month: [
                    { value: null, text: "Select Month" },
                    { value: "01", text: "Janurary" },
                    { value: "02", text: "Feburary" },
                    { value: "03", text: "March" },
                    { value: "04", text: "April" },
                    { value: "05", text: "May" },
                    { value: "06", text: "June" },
                    { value: "07", text: "July" },
                    { value: "08", text: "August" },
                    { value: "09", text: "September" },
                    { value: "10", text: "Octobar" },
                    { value: "11", text: "November" },
                    { value: "12", text: "December" },
                ],
                Year: [
                    { value: null, text: "Year" },
                    { value: "2019", text: "2019" },
                    { value: "2020", text: "2020" },
                    { value: "2021", text: "2021" },
                    { value: "2022", text: "2022" },
                ],
            };
        },
        methods: {
            getCartItems() {
                let self = this;
                axios.get("cart").then(function (response) {
                    self.cartItems = response.data.data;
                    console.log(response.data.data);
                });
            },
            getUsers() {
                let self = this;
                axios.get("getuser").then(function (response) {
                    self.get_user = response.data.data;
                    self.form.phone_number = self.get_user.phone_number;
                    self.form.id = response.data.data.id;
                    console.log(response.data.data);
                });
            },
            submitForm() {
                let self = this;
                // let form = new Form();
                // formData.append("name", this.formData.name);
                // formData.append("email", this.formData.email);
                // formData.append("phone", this.formData.phone);
                // formData.append("picture", this.formData.picture);
                // formData.append("message", this.formData.message);
             axios.post("order_detail", this.form,{

                        params:{
                            items:self.cartItems,
                            total: self.total_price,
                            total_items : self.cartItems.length
                        }
                    })
                    .then(function (response) {
                        $("#customer_form").hide();
                        $("#thankyou").show();
                    })
                    .catch(function (error) {
                        if (error.response) {
                            console.log(error.response);
                        }
                    });
            },
        },
        mounted() {
            let self = this;
            self.getUsers();
            self.getCartItems();
            $("#cover").fadeOut();
            $("#input-cardno").fadeIn();
            $(document).ready(function () {
                $("#one").click(function () {
                    $("#card-payment").fadeIn();
                    $("#payment_methods").addClass("mar");
                });
                $("#two").click(function () {
                    $("#card-payment").fadeOut();
                    $("#payment_methods").removeClass("mar");
                });
                $("#two").change(function () {
                    var payment = $("#two").val();
                    if (payment == "cash") {
                        self.form.cardNumber = "";
                        self.form.month = "";
                        self.form.year = "";
                        self.form.cvv = "";
                    }
                });
            });
        },
         computed : {
            total_price(){
                let total_price = 0;
                this.cartItems.forEach((item) => {
                    total_price += Number(item.item.onsale ? item.item.total_price * item.qty : item.item.price * item.qty);
                })
                return total_price
            },
        },
    };
</script>

<style scoped>
    ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #247cc6;
    }
    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #247cc6;
        opacity: 1;
    }
    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #247cc6;
        opacity: 1;
    }
    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #247cc6;
    }
    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #247cc6;
    }

    ::placeholder {
        /* Most modern browsers support this now. */
        color: #247cc6;
    }

    h4 {
        color: #1e56ab;
        font-weight: 700;
    }
    .clr-font {
        background: #1e56ab;
        padding: 3px 80px;
        border-radius: 20px;
    }
    .f-size {
        font-size: 9px !important;
    }
    .pay-clr {
        color: #247cc6;
    }
    /* .adj{
    margin-left: -47px;
} */
    .bord {
        border: 1px solid rgb(226, 222, 222);
        padding: 7px 0px;
        margin-left: 15px;
    }
    .exp {
        margin-left: 16px;
        font-size: 12px;
        color: #247cc6;
    }
    .bill-bord {
        border: 2px solid rgb(226, 222, 222);
    }
    .size {
        font-weight: 600;
        color: #1e56ab;
        border-bottom: 6px solid transparent;
        border-image: linear-gradient(to right, #2056aa, #e91a24);
        border-image-slice: 1;
        width: 200px;
    }
    .mt {
        margin-top: 137px;
    }
    .set {
        margin-left: 160px;
        margin-top: 10px;
        color: #007bff;
    }
    .set1 {
        margin-left: -50px;
    }
    .set2 {
        margin-left: -40px;
    }
    .size-box {
        height: 400px;
        width: 500px;
    }
    .mar {
        margin-left: 3rem;
    }
    .border-bot {
        border-bottom: 1px solid #ebe8e8;
    }
    @media screen and (max-width: 1024px) {
        .size-box {
            width: 450px;
        }
        .mar {
            margin-left: 0px;
        }
        .p-res {
            padding-right: 0px;
        }
    }
    @media screen and (max-width: 768px) {
        .p-res {
            padding-right: 15px !important;
        }
    }
    @media screen and (max-width: 500px) {
        .set1 {
            margin-left: 0px;
        }
        .set2 {
            margin-left: 0px;
        }
        .p-res {
            padding-right: 15px !important;
        }
    }
    #card-payment {
        display: none;
    }
    .btn-res {
        display: flex;
        flex-direction: column;
    }
</style>
