<template>
  <div id="contactus contact-pad">
    <section id="contact" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
      <div class="container">
        <br />
        <div class="row mb-res">
          <div class="col-lg-6 col-md-6 col-xl-6">
            <h1 class="section-header text-primary ml-5"><b>Contact Us</b></h1>
            <hr class="ml-5" style="width: 220px;" />
            <div class="contact-wrapper">
            <div id="customer_form">
              <form @submit.prevent="submit" class="cd-form">
                <div class="inputWithIcon">
                  <input type="text" placeholder="Your name" v-model="form.name" name="name" id="name" required />
                  <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <div class="inputWithIcon">
                  <input type="text" placeholder="Email" v-model="form.email" name="email" id="email" required />
                  <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                </div>

                <div class="inputWithIcon">
                  <input type="text" placeholder="Phone Number" v-model="form.phone" name="phone" id="phone" required />
                  <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>
                </div>

                <div class="inputWithIcon inputIconBg">
                  <textarea style="border: 2px solid #aaa;" v-model="form.message" class="form-control" rows="5" placeholder="....Your Message" name="message" id="message" required></textarea>
                  <i class="fa fa-comment-dots fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <div class="mt-3 text-center" id="app">
                  <button class="btnSubmit text-white" type="submit" id="submit"><b>Submit</b></button>
                </div>
              </form>
            </div>
            <div style="display: none;" id="thankyou">
              <h1 class="text-danger">Thank You</h1>
              <br />
              <h4>Your Message has Been Submitted</h4>
            </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xl-6">
              <img class="w-100 img-h" src="images/contact image.jpg" alt="contact image" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
    data() {
      return {
        form: {},
        errors: {},
      };
    },
    methods: {
      submit() {
        this.errors = {};
        axios
          .post("submit", this.form)
          .then((response) => {
            this.form = "";
            $("#customer_form").hide();
            $("#thankyou").show();
          })
          .catch((error) => {
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
        });
      },
    },
    mounted() {
      $('#cover').fadeOut();
    },
};
</script>
<style scoped>
  .btnSubmit {
    background: linear-gradient(135deg, #247cc6, #247cc6);
    width: 25%;
    border-radius: 1.5rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 700;
    color: aliceblue;
  }
  .inputWithIcon input[type="text"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  .inputWithIcon input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
  .inputWithIcon textarea:focus {
    padding-left: 30px;
  }
  .inputWithIcon input[type="text"] {
    padding-left: 40px;
  }
  .inputWithIcon {
    position: relative;
  }

  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  .inputWithIcon input[type="text"]:focus + i,
  .inputWithIcon textarea:focus + i {
    color: dodgerBlue;
    background-color: transparent;
  }
  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  .inputWithIcon.inputIconBg input[type="text"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
  }
  @media screen and (max-width: 1024px) {
    .img-h {
      height: 480px;
    }
  }
  @media screen and (max-width: 768px) {
    .img-h {
      height: 473px;
    }
  }
  @media screen and (max-width: 500px) {
    .img-h {
      display: none;
    }
    .mb-res {
      margin-top: 4rem;
    }
  }
</style>
