<template>
    <div id="terms">
        <section class="py-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="terms-heading text-center pb-3">
                            <h1>Delivery Information</h1><br>
                        </div>
                        <div class="sub-heading">
                            <h4>1 - Out of service area or non-service area shipment delivery charges will be charged at actual. </h4>
                        </div>
                        <div class="sub-heading">
                            <h4>2 - Shipment will be delivered within given time frame. </h4>
                        </div>
                        <div class="sub-heading">
                            <h4>3 - Shipment will be delivered within 24 to 48 hours in A-Zone Areas. </h4>
                        </div>
                      <div class="sub-heading">
                            <h4>4 - Shipment will be delivered within 48 to 72 hours in B-Zone Areas. </h4>
                        </div>
                      <div class="sub-heading">
                            <h4>5 - Any Query Regarding shipment should be discussed at the time of delivery.  </h4>
                        </div>
                      <div class="sub-heading">
                            <h4>6 - Please Ensure the Cash at the time of Delivery.  </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    mounted() {
        $('#cover').fadeOut();
        $('html, body').animate({
            scrollTop: $("#main_head").offset().top
        }, 500);
    }
};
</script>

<style>

</style>
