<template>
  <div class="main py-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
        <div class="four_zero_four_bg" :style="{backgroundImage:`url(${bg})`}">
        </div>
        <div class="contant_box_404">
            <h3 class="h2">Look like you're lost</h3>
            <p>The page you are looking for not avaible!</p>
            <router-link to="/" class="link_404">Go to Home</router-link>
        </div>
    </div>
        
</template>

<script>
export default {
    data(){
        return{
            bg: 'images/404.gif',
        }
    },
    mounted() {
      $('#cover').fadeOut();
    },
};


</script>

<style>
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  /* background-image: url(../assets/404.gif); */
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #eb1922;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
  border-radius: 50px;
  
}
.link_404:hover{
    text-decoration: none;
    background: #1e56ab;
}
.contant_box_404 {
  margin-top: -50px;
  text-align: center;
}
</style>