<template>
    <div id="contactus contact-pad">
        <section id="feedback">
            <div class="container">
                <br />
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xl-6" data-aos="fade-up-right" data-aos-easing="linear" data-aos-duration="500">
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1>Feel free to drop us your Feedback.</h1>
                        <img class="w-100 img-h" src="images/feedback-form-template.jpg" alt="feedback form template" />
                    </div>

                    <div class="col-lg-6 col-md-6 col-xl-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                        <h1 class="section-header text-danger ml-5"><b>Feedback</b></h1>

                        <hr class="ml-5" style="width: 220px;" />

                        <div class="contact-wrapper">
                            <div id="customer_form">
                                <form @submit.prevent="submit" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="exampleInputname" class="text-primary">Name:</label>
                                        <input type="text" class="form-control" v-model="formData.name" name="name" id="exampleInputname" placeholder="Your Name" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="text-primary">Email address:</label>
                                        <input type="email" class="form-control" v-model="formData.email" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required />
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputphone" class="text-primary">Phone:<i>(Optional)</i></label>
                                        <input type="text" class="form-control" v-model="formData.phone" name="phone" id="exampleInputphone" placeholder="Phone No...." />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputimage" class="text-primary">Image:<i>(Optional)</i></label>
                                        <input type="file" class="form-control" v-on:change="onFileChange" name="filename" id="filename" />
                                    </div>

                                    <div class="form-group">
                                        <label for="comment" class="text-primary">Comment:</label>
                                        <textarea v-model="formData.message" class="form-control" rows="4" placeholder="....Your Message" name="message" id="message" required></textarea>
                                        <!-- <i class="fa fa-comment-dots fa-lg fa-fw  " aria-hidden="true"></i> -->
                                    </div>
                                    <div class="mt-3 text-center" id="app">
                                        <button class="btnSubmit text-dark" type="submit" id="submit"><b>Submit</b></button>
                                    </div>
                                    <br />
                                </form>
                            </div>
                            <div style="display: none;" id="thankyou">
                                <h1 class="text-danger">Thank You</h1>
                                <br />
                                <h4>Your Feedback has Been Received</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                formData: {
                    name: "",
                    email: "",
                    phone: "",
                    picture: "",
                    message: "",
                },
                formData: {},
            };
        },

        methods: {
            submit() {
                let self = this;
                const config = {
                    headers: {
                        "content-type": "multipart/form-data",
                        "X-CSRF-TOKEN": document.querySelector('meta[name="csrf-token"]').content,
                    },
                };
                let formData = new FormData();
                formData.append("name", this.formData.name);
                formData.append("email", this.formData.email);
                formData.append("phone", this.formData.phone);
                formData.append("picture", this.formData.picture);
                formData.append("message", this.formData.message);

                axios
                    .post("feedback", formData, config)
                    .then(function (response) {
                        $("#customer_form").hide();
                        $("#thankyou").show();
                    })
                    .catch(function (error) {
                        if (error.response) {
                            console.log(error.response);
                        }
                    });
            },

            onFileChange(event) {
                this.formData.picture = event.target.files[0];
            },
        },
        mounted() {
            $('#cover').fadeOut();
        },
    };
</script>
<style scoped>
    .btnSubmit {
        background: linear-gradient(135deg, #eb920e, #4726dd);
        width: 25%;
        border-radius: 1.5rem;
        padding: 1.5%;
        border: none;
        cursor: pointer;
        font-weight: 700;
        color: aliceblue;
    }
    .btnSubmit:hover {
        background: linear-gradient(135deg, #eb920e, #4726dd);
        width: 25%;
        border-radius: 1.5rem;
        padding: 1.5%;
        border: none;
        cursor: pointer;
        font-weight: 700;
        color: aliceblue;
    }
    .inputWithIcon input[type="text"] {
        width: 100%;
        border: 2px solid #aaa;
        border-radius: 4px;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: 0.3s;
    }
    .inputWithIcon input[type="text"]:focus {
        border-color: dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }
    .inputWithIcon textarea:focus {
        padding-left: 30px;
    }
    .inputWithIcon input[type="text"] {
        padding-left: 40px;
    }
    .inputWithIcon {
        position: relative;
    }

    .inputWithIcon i {
        position: absolute;
        left: 0;
        top: 8px;
        padding: 9px 8px;
        color: #aaa;
        transition: 0.3s;
    }
    .inputWithIcon input[type="text"]:focus + i,
    .inputWithIcon textarea:focus + i {
        color: dodgerBlue;
        background-color: transparent;
    }
    .inputWithIcon.inputIconBg i {
        background-color: #aaa;
        color: #fff;
        padding: 9px 4px;
        border-radius: 4px 0 0 4px;
    }
    .inputWithIcon.inputIconBg input[type="text"]:focus + i {
        color: #fff;
        background-color: dodgerBlue;
    }
    @media screen and (max-width: 1024px) {
        .img-h {
            height: 480px;
        }
    }
    @media screen and (max-width: 768px) {
        .img-h {
            height: 473px;
        }
    }
    @media screen and (max-width: 500px) {
        .img-h {
            display: none;
        }
    }
</style>
