<template>
  <div class="container res-container" style="overflow: hidden">
    <div>
      <!-- Main e-shop body -->
      <!-- Main Banner Area -->
      <section class="M002-Hero-banner" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
        <div class="one-time">
          <div v-for="(banner, index) in banners" :key="index">
            <router-link :to="{ name: 'store', params: {  category:banner.category_id,company: banner.company_id } }"> 
              <img :src="'./' + banner.image" class="banner mob-pt" :alt="`${banner.name}`" />
            </router-link>
          </div>
        </div>
      </section>
      <!-- Partners Logo Section -->
      <section>
        <div class="footer-partner-section px-md-5">
          <div class="container-fluid py-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="brand-slider"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Spacer section -->
      <div class="spacer">
        <p class="spacer-text">Our Products</p>
      </div>

      <!-- Category Slider Section -->
      <section class="M004-category-banner px-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="cat-slider">
                <div class="cat-slider-items cat-slider-items_our_product p-0 " v-for="(regular, index) in categories"
                  :key="index">
                  <router-link :to="{ name: 'store', params: { category: regular.name } }">
                    <img :src="'.' + regular.image_path" class="img-fluid our_product_custom_height"
                      :alt="`${regular.description}`" />
                    <h3 class="px-2">{{ regular.name }}</h3>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Category Slider Section End -->
      <section class="M005-onsale-banner" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="M005-onsale-inner">
                <div class="M005-onsale-navbar">
                  <nav class="navbar navbar-expand-lg">
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <router-link :to="{ name: 'store', params: { onsale: abc.id } }" class="nav-link">
                            Onsale</router-link>
                        </li>
                        <li class="nav-item">
                          <router-link :to="{
                            name: 'store',
                            params: { new_arrival: newarrival.id },
                          }" class="nav-link">
                            New Arrivals
                          </router-link>
                        </li>
                      </ul>
                      <router-link :to="{
                        name: 'store',
                        params: { view_all: viewall.id },
                      }" class="nav-link">
                        View All Products
                      </router-link>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- OnSale Section End -->
      <!-- OnSale Product Slider -->
      <section class="M006-product-slider-section px-1 px-sm-5" data-aos="fade-up" data-aos-easing="linear"
        data-aos-duration="300">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="wrapper">
                <div class="products-slick">
                  <div v-for="(item, index) in featureditems" :key="index">
                    <div class="card pro_card rounded-lg mx-1 mx-sm-3 p-1 p-sm-3">
                      <router-link :to="{ name: 'detail-item', params: { id: item.id } }">
                        <div class="item-related text-white pb-0">
                          <p class="m-0">
                            {{ item.category }}
                            <span v-if="item.new_arrival" class="badge fontnew badge-secondary shake-animation new-product">New</span>
                            <span v-else class="badge fontnew badge-primary sale shake-animation">OnSale</span>
                          </p>
                        </div>
                        <div class="w-100 d-flex justify-content-center">
                          <!-- <div class="w-100"> -->
                          <img :src="'.' + item.image_path"
                            class="card-img-top mx-2 mb-3 img-resp overflow-hidden rounded-lg text-center"
                            :alt="`${item.meta_tags}`" />
                          <!-- </div> -->
                        </div>
                      </router-link>
                      <div class="card-body cart-detail py-2 px-3">
                        <h5 class="mb-0 custom-bold-h5 text-lg-left text-center text-dark py-2 single_line_text">
                          {{ item.name }}
                        </h5>
                        <div v-if="item.discount_price > 0" class="row row-cols-lg-2 row-cols-1 m-0">
                          <span class="text-dark">
                            PKR {{ item.total_price }}
                            <span
                              class="discounted-price text-xl-left text-center"
                            >
                              <del>{{ item.price }}</del>
                            </span>
                          </span>
                          <span
                            class="product-rating-updated text-xl-right text-center"
                          >
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fas fa-star-half-alt checked"></span>
                          </span>
                        </div>
                        <div v-else class="row row-cols-lg-2 row-cols-1 m-0">
                          <span class="text-dark text-lg-left text-center">
                            PKR {{ item.price }} <br />
                          </span>
                          <span
                            class="product-rating-updated text-xl-right text-center text-nowrap w-100"
                          >
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fas fa-star-half-alt checked"></span>
                          </span>
                        </div>
                        <div class="product-cart" style="display: none">
                          <button @click="$root.addToCart(item.id)" class="addtocart w-75">
                            <div class="pretext">
                              <i class="fas fa-cart-plus"></i> ADD TO CART
                            </div>
                            <div class="pretext done">
                              <div class="posttext">
                                <i class="fas fa-check"></i> ADDED
                              </div>
                            </div>
                          </button>
                          <button @click="$root.addTowishList(item.id)" type="button" class="btn">
                            <i class="far fa-heart"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Deals Sections -->
      <!-- <section class="M008-deals-section" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
                <div class="container-fluid">
                    <div class="M008-deal-inner" :style="{ backgroundImage: `url(${offerBanner})` }">
                        <div class="row">
                            <div class="col-lg-9 col-md-8 col-12">
                                <div class="M008-deal-header">
                                    <h4>SAVE UPTO 30% TO 40% OFF</h4>
                                    <h1>OMG! JUST LOOK AT THE GREAT DEALS!</h1>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-12">
                                <div class="M008-deal-button text-right">
                                    <a href="!#" class="custom-btn">VIEW MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
      <br />
      <section class="M006-product-slider-section px-5" data-aos="fade-up" data-aos-easing="linear"
        data-aos-duration="300">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="wrapper">
                <div class="products-slick">
                  <div v-for="(feed, index) in feedback" :key="index">
                    <div class="card pro_card mx-3" style="background-color: 1e56ab; height: 500px">
                      <img height="250px" :src="'./' + feed.image_path" alt="feedback-image" />
                      <div class="card-body">
                        <h3 style="color: white" class="card-title text-center m-0">
                          {{ feed.name }}
                        </h3>
                        <br />
                        <p class="card-text text-white">{{ feed.message }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <br />
      <!-- Popular Products -->
      <section class="M009-popular-items" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
        <div class="contianer-fluid">
          <div class="M009-popular-inner">
            <div class="row">
              <div class="col-lg-12">
                <div class="M009-popular-header">
                  <h1>Popular Categories this Week</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="M009-item-area pt-3 px-0">
            <div class="row">
              <div class="col-lg-2">
                <div class="M009-item-categories">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" v-for="(category, index) in popularCategories" :key="index">
                      <a @click="getPopularCategoryItems(category.id)">{{
                        category.name
                      }}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 p-0">
                <div class="M009-item-banner" :style="{ backgroundImage: `url(${productImage})` }"></div>
              </div>
              <div class="col-lg-8 p-0">
                <div class="M009-items-list">
                  <div class="row row-cols-1 row-cols-md-3 m-0 justify-content-center justify-content-lg-start">
                    <div class="col-lg-6 col-xl-4 col-md-4 col-6 px-0 mt-0" v-for="(item, index) in popularitem"
                      :key="index">
                      <!-- <div class="card h-100 p-2">
                        <p class="card-category text-dark border-bottom">
                          {{ item.name }}
                        </p>
                        <router-link
                          :to="{ name: 'detail-item', params: { id: item.id } }"
                          class="card-title text-dark border-bottom text-decoration-none"
                          >{{ item.description | stringLength }}</router-link
                        >
                        <img
                          :src="'.' + item.image_path"
                          class="card-img-top img-resp"
                          :alt="`${item.meta_tags}`"
                        />
                        <div class="card-body border-bottom">
                          <div class="card-bottom">
                            <span class="card-price text-dark"
                              ><strong>Rs.</strong>{{ item.price }}</span
                            >
                            <span class="add-cart-1">
                              <a @click="$root.addToCart(item.id)">
                                <i class="fa fa-shopping-cart"></i>
                              </a>
                            </span>
                          </div>
                        </div>
                      </div> -->
                      <div class="card pro_card rounded-lg mx-1 mb-2 mt-0 p-0">
                        <router-link :to="{ name: 'detail-item', params: { id: item.id } }">
                          <div class="item-related text-white pb-0">
                            <p class="m-0">
                              {{ item.category }}
                            </p>
                          </div>
                          <div class="w-100 d-flex justify-content-center">
                            <img :src="'.' + item.image_path"
                              class="card-img-top mx-2 mb-3 img_resp_papular_categ overflow-hidden rounded-lg text-center"
                              :alt="`${item.meta_tags}`" />
                          </div>
                        </router-link>
                        <div class="card-body cart-detail py-2 px-3">
                          <h5 class="mb-0 custom-bold-h5 text-lg-left text-center text-dark py-2 single_line_text">
                            {{ item.name }}
                          </h5>
                          <div v-if="item.discount_price > 0" class="row row-cols-lg-2 row-cols-1 m-0">
                            <span class="text-dark">
                              PKR {{ item.total_price }}
                              <span class="discounted-price text-lg-left text-center">
                                <del>{{ item.price }}</del>
                              </span>
                            </span>
                            <span class="add_cart_1_papular_cate text-end st mt-2 mt-lg-auto">
                              <a @click="$root.addToCart(item.id)"
                                class=" bg-danger text-light py-2 px-4 px-lg-2  rounded-pill ">
                                <i class="fa fa-shopping-cart m-0"></i>
                              </a>
                            </span>
                          </div>
                          <div v-else class="row row-cols-lg-2 row-cols-1 m-0">
                            <span class="text-dark text-lg-left text-center">
                              PKR {{ item.price }} <br />
                            </span>
                            <span class="add_cart_1_papular_cate text-end st mt-2 mt-lg-auto">
                              <a @click="$root.addToCart(item.id)"
                                class=" bg-danger text-light py-2 px-4 px-lg-2 rounded-pill ">
                                <i class="fa fa-shopping-cart m-0"></i>
                              </a>
                            </span>
                          </div>
                          <!-- <div class="product-cart" style="display: none">
                            <button @click="$root.addToCart(item.id)" class="addtocart w-75">
                              <div class="pretext">
                                <i class="fas fa-cart-plus"></i> ADD TO CART
                              </div>
                              <div class="pretext done">
                                <div class="posttext">
                                  <i class="fas fa-check"></i> ADDED
                                </div>
                              </div>
                            </button>
                            <button @click="$root.addTowishList(item.id)" type="button" class="btn">
                              <i class="far fa-heart"></i>
                            </button>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- brand Banner Sections -->
      <section class="M012-Brands-Banner" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
        <div class="container-fluid">
          <div class="M012-Brand-Banner-Area">
            <div class="row">
              <div class="col-12 col-md-4 col-lg-4 pb-1">
                <div class="M012-Brand-Banner-inner">
                  <a href="">
                    <img :src="'./images/Banners/' + pBanner[0]" class="img-fluid" alt="Banner1" />
                  </a>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4 pb-1">
                <div class="M012-Brand-Banner-inner">
                  <a href="">
                    <img :src="'./images/Banners/' + pBanner[1]" class="img-fluid" alt="Banner2" />
                  </a>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4 pb-1">
                <div class="M012-Brand-Banner-inner">
                  <a href="">
                    <img :src="'./images/Banners/' + pBanner[2]" class="img-fluid" alt="Banner3" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Shipping Section -->
      <div class="spacer">
        <p class="spacer-text">Our Support</p>
      </div>
      <section class="M003-shipping-banner py-3 px-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
              <div class="M003-ship-inner">
                <div class="card my-3 border-0">
                  <div class="row no-gutters d-flex justify-content-center">
                    <div class="col-md-3 col-3 col-lg-3 text-center">
                      <img src="images/delivery icon.png" class="pt-3" width="80%" alt="delivery icon" />
                    </div>
                    <div class="col-md-12 col-lg-12 col-12">
                      <div class="card-body px-2">
                        <div class="M003-text text-center">
                          <h5 class="card-title">Free Shipping</h5>
                          <p class="card-text">
                            Free shipping on specific orders
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="M003-ship-inner">
                <div class="card my-3 border-0">
                  <div class="row no-gutters d-flex justify-content-center">
                    <div class="col-md-3 col-3 col-lg-3 text-center">
                      <img src="images/payment icon.png" class="pt-3" width="80%" alt="payment icon" />
                    </div>
                    <div class="col-md-12 col-lg-12 col-12">
                      <div class="card-body px-2">
                        <div class="M003-text text-center">
                          <h5 class="card-title">Security Payment</h5>
                          <p class="card-text">100% Secure payment</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="M003-ship-inner">
                <div class="card my-3 border-0">
                  <div class="row no-gutters d-flex justify-content-center">
                    <div class="col-md-3 col-3 col-lg-3 text-center">
                      <img src="images/return policy icon.png" class="pt-3" width="80%" alt="return policy icon" />
                    </div>
                    <div class="col-md-12 col-lg-12 col-12">
                      <div class="card-body px-2">
                        <div class="M003-text text-center">
                          <h5 class="card-title">Immediate return</h5>
                          <p class="card-text">Immediate return policies</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="M003-ship-inner">
                <div class="card my-3 border-0">
                  <div class="row no-gutters d-flex justify-content-center">
                    <div class="col-md-3 col-3 col-lg-3 text-center">
                      <img src="images/customer support icon.png" class="pt-3" width="80%" alt="customer suppport icon" />
                    </div>
                    <div class="col-md-12 col-lg-12 col-12">
                      <div class="card-body px-2">
                        <div class="M003-text text-center">
                          <h5 class="card-title">24/7 Support</h5>
                          <p class="card-text">Support every time</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      banners: {},
      categories: {},
      popularCategories: {},
      popularitem: {},
      featureditems: {},
      feedback: {},
      abc: { id: 1 },
      newarrival: { id: 2 },
      viewall: { id: 3 },
      pBanner: ["pbanner1.png", "pbanner2.png", "pbanner3.png"],
      // brandImage: './images/Brand-BG.jpg',
      productImage: "./images/sale_offer.jpg",
      slickItem: "Refrigrator2.png",
      offerBanner: "./images/offer_banner.png",
    };
  },
  methods: {
    getPopularCategoryItems(id) {
      let self = this;
      axios
        .get("getpopularCategoryItems", {
          params: {
            id: id,
          },
        })
        .then(function (response) {
          self.popularitem = response.data.data;
        });
    },
    getfeatureditems() {
      let self = this;
      axios.get("getfeatureditems").then(function (response) {
        self.featureditems = response.data.data;
        setTimeout(function () {
          // Hover on Cards
          $(".pro_card").hover(function () {
            $(this).find(".product-cart").toggle(400);
          });
          $(".products-slick").slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: false,
            infinite: true,
            speed: 300,
            dots: false,
            arrows: true,
            responsive: [
              {
                breakpoint: 1281,
                settings: {
                  slidesToShow: 3,
                  slidesToScroll: 1,
                },
              },
              {
                breakpoint: 991,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 1,
                },
              },
              {
                breakpoint: 540,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 1,
                },
              },
            ],
          });
        }, 0);
      });
    },
    getCategories() {
      let self = this;
      axios.get("getcategory").then(function (response) {
        self.categories = response.data.data.categories;
        console.log(self.categories);
        self.popularCategories = response.data.data.popularCategories;
        setTimeout(function () {
          // Category Slider
          $(".cat-slider").slick({
            slidesToShow: 5,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            dots: false,
            arrows: true,
            responsive: [
              {
                breakpoint: 991,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 1,
                },
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  dots: false,
                  arrows: false,
                },
              },
            ],
          });
        }, 0);
      });
    },
    getfeedback() {
      let self = this;
      axios.get("getfeedbacks").then(function (response) {
        self.feedback = response.data.data;
        $("#cover").fadeOut();
      });
    },

    getBanners() {
      let self = this;
      axios.get("getbanners").then(function (response) {
        self.banners = response.data.data;
        setTimeout(function () {
          $(".one-time").slick({
            slidesToShow: 1,
            height: "500px",
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            dots: false,
            arrows: true,
            responsive: [
              {
                breakpoint: 991,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
                },
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  dots: false,
                  arrows: false,
                },
              },
            ],
          });
        }, 0);
      });
    },
  },
  mounted() {
    this.getBanners();
    this.getCategories();
    this.getfeatureditems();
    this.getPopularCategoryItems();
    this.getfeedback();
  },
};
</script>

<style scoped>
.spacer-text {
  margin: 0;
  padding-left: 18px;
}

.spacer-text:hover {
  color: #e91923;
}

.one-time {
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border: 0;
}

.one-time div {
  border: 0;
}

.one-time img {
  height: 100%;
  width: 100%;
}

.cart-detail {
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  padding: 5px;
}

/*demo*/
.product-category span {
  font-size: 14px;
  color: #fff;
}

.product-details span {
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #e2dede;
  margin: 15px 0px;
  color: #fff;
}

.product-details span:nth-child(2) {
  padding: 15px 0px;
  border: none;
}

.product-rating-updated {
  position: static !important;
}
.product-rating-updated span {
  font-size: 18x !important;
  border: none !important;
  color: gold !important;
  font-weight: 700;
}

.wrapper {
  margin-top: 30px;
}

.wrapper .card {
  cursor: pointer;
}

.weight {
  margin-top: -65px;
  transition: all 0.5s;
}

.weight small {
  color: #e2dede;
}

.wrapper .card:hover .buttons {
  opacity: 1;
}

.wrapper .card:hover .weight {
  margin-top: 10px;
}

.card {
  background-color: #f2f0f1 !important;
}

.wrapper .card:hover {
  transform: scale(1.04);
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px #e91923;
}

.products-slick .card .card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5px 15px;
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.products-slick .card:hover {
  box-shadow: none;
}

.products-slick .card .card-footer .btn {
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px;
  background: #f2f0f1;
  display: inline-block;
  vertical-align: middle;
  color: #1e56ab;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: inherit;
  border: 0;
}

.products-slick .card .card-footer .btn i {
  margin-right: 10px;
}

.products-slick .card .card-footer button[type="button"] {
  margin-left: 10px;
  cursor: pointer;
  padding: 10px 14px;
  background: #fff;
}

.products-slick .card .card-footer button[type="button"] i {
  margin-right: 0;
  color: #eb1922;
}

.st {
  text-align: end;
}

.img_resp_papular_categ {
  height: 14rem !important;
  object-fit: cover !important;
}

.add_cart_1_papular_cate {
  border-radius: 21px !important;
  cursor: pointer !important;
  font-size: 22px !important;
  color: #fff !important;
}

/* .spacer{
        padding: 20px;
        color: white;
    } */
@media screen and (max-width: 1023px) {
  .st {
    text-align: center !important;
  }
}

@media screen and (max-width: 1440px) {
  .img_resp_papular_categ {
    height: 14rem !important;
    object-fit: cover !important;
  }
}

@media screen and (max-width: 1025px) {
  .img_resp_papular_categ {
    height: 13rem !important;
    object-fit: cover !important;
  }
}

@media screen and (min-width: 1700px) {
  .img_resp_papular_categ {
    height: 14rem !important;
    object-fit: cover !important;
  }
}
</style>
