<template>
  <div class="container res-container" style="overflow: hidden">
    <div id="item-detail">
      <!-- Product Title & Bredcrumb -->
      <section class="product-title-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col">
              <div class="product-title text-center"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Product Detail Section -->
      <section
        class="product-detail-section"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="500"
      >
        <div class="container-fluid">
          <div class="product-detail-inner">
            <div class="row">
              <div
                class="col-xl-6 col-lg-6 col-md-12 col-12"
                data-aos="fade-up"
                data-aos-easing="linear"
                data-aos-duration="500"
              >
                <div class="pd-item-detail">
                  <div class="pd-item-slider">
                    <vue-photo-zoom-pro type="circle" :high-url="imageurl">
                      <img
                        style="position: relative; width: 100%"
                        :src="imageurl"
                        id="itemMainImage"
                        alt="item main image"
                      />
                    </vue-photo-zoom-pro>
                  </div>
                  <hr />
                  <div class="pd-item-slider">
                    <div id="sync2" class="owl-carousel owl-theme">
                      <div
                        class="item"
                        v-for="(image, index) in itemDetails.related_image"
                        :key="index"
                      >
                        <img
                          class="card-img-top img-resp d-flex justify-content-center relatedImage"
                          :src="'.' + image"
                          alt="item details related image"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Product description right Side -->
              <div
                class="col-lg-6 col-md-12 col-12"
                data-aos="fade-up"
                data-aos-easing="linear"
                data-aos-duration="500"
              >
                <div class="pd-item-desc">
                  <div class="pd-item-title">
                    <h2>{{ itemDetails.name }}</h2>
                  </div>
                  <div class="cs-post-option-panel">
                    <div class="rich-editor-text load">
                      <p v-html="itemDetails.specification"></p>
                    </div>
                  </div>
                  <div class="pd-item-price">
                    <h3><b>Rs: {{ itemDetails.price }}</b></h3>
                  </div>
                  <div class="pd-item-c">
                    <p>
                      <button
                        @click="$root.addToCart(itemDetails.id)"
                        class="btn btn-danger"
                      >
                        <i class="fas fa-cart-plus"></i>ADD TO CART
                      </button>
                      <button
                        @click="$root.addTowishList(itemDetails.id)"
                        class="btn btn-primary"
                      >
                        <i class="far fa-heart"></i>ADD TO WISHLIST
                      </button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div
                  class="product-desc"
                  data-aos="fade-up"
                  data-aos-easing="linear"
                  data-aos-duration="500"
                >
                  <!-- Tab List -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        data-toggle="tab"
                        href="#tabs-2"
                        role="tab"
                        >Description</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        data-toggle="tab"
                        href="#tabs-1"
                        role="tab"
                        >Reviews</a
                      >
                    </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content p-4 bg-light">
                    <div class="tab-pane" id="tabs-1" role="tabpanel">
                      <div class="row">
                        <div class="col-12 col-xl-8 col-lg-8">
                          <div class="pro-desc-reviews">
                            <div
                              class="pro-desc-header border-bottom py-1 px-2"
                            >
                              <span>All Reviews</span
                              ><span class="pl-3">{{ paginate.total }}</span>
                            </div>
                          </div>
                          <div
                            class="row"
                            v-for="(itemReview, index) in itemReviews"
                            :key="index"
                          >
                            <div class="col-12">
                              <div class="pro-desc-users">
                                <div class="card">
                                  <div class="row no-gutters">
                                    <div class="col-md-2 my-auto text-center">
                                      <div class="pro-desc-user-img">
                                        <img
                                          class="img-responsive text-center"
                                          src="images/avtar.png"
                                          width="80px"
                                          height="80px"
                                          alt="avatar"
                                        />
                                      </div>
                                    </div>
                                    <div class="col-md-10">
                                      <div class="card-body">
                                        <h5 class="card-title m-0">
                                          {{ itemReview.user }}
                                        </h5>
                                        <b-form-rating
                                          id="rating-inline"
                                          style="
                                            background-color: transparent;
                                            color: gold;
                                            padding: 0;
                                            border: none;
                                            height: 1.5px;
                                          "
                                          inline
                                          :value="itemReview.rating"
                                          disabled
                                        >
                                        </b-form-rating>
                                        <div class="pro-desc-comments pt-1">
                                          <p
                                            class="m-0"
                                            style="font-size: 14px"
                                          >
                                            {{ itemReview.message }}
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex justify-content-center">
                            <pagination
                              :data="paginate"
                              @pagination-change-page="getItemReviews"
                            ></pagination>
                          </div>
                        </div>
                        <div class="col-12 col-lg-4 col-xl-4">
                          <div class="pro-desc-assesment">
                            <div
                              class="pro-desc-header border-bottom py-1 px-2"
                            >
                              <span>Assesment Reviews</span>
                            </div>
                            <div class="pro-desc-assesment-ratings pt-4">
                              <div class="row">
                                <div class="col-12 col-md-4 p-0">
                                  <b-form-rating
                                    id="rating-inline"
                                    inline
                                    :value="5"
                                    disabled
                                  ></b-form-rating>
                                </div>
                                <div class="col-12 col-md-5">
                                  <b-progress
                                    height="2rem"
                                    :value="
                                      (total_reviews_5 * 100) / total_rating
                                    "
                                    class="mb-2"
                                  ></b-progress>
                                </div>
                                <div class="col-12 col-md-3">
                                  <span class="pro-desc-total-reviews"
                                    >{{ total_reviews_5 }} Reviews</span
                                  >
                                </div>
                              </div>
                            </div>
                            <div class="pro-desc-assesment-ratings">
                              <div class="row">
                                <div class="col-12 col-md-4 p-0">
                                  <b-form-rating
                                    id="rating-inline"
                                    inline
                                    :value="4"
                                    disabled
                                  ></b-form-rating>
                                </div>
                                <div class="col-12 col-md-5">
                                  <b-progress
                                    height="2rem"
                                    :value="
                                      (total_reviews_4 * 100) / total_rating
                                    "
                                    class="mb-2"
                                  ></b-progress>
                                </div>
                                <div class="col-12 col-md-3">
                                  <span class="pro-desc-total-reviews"
                                    >{{ total_reviews_4 }} Reviews</span
                                  >
                                </div>
                              </div>
                            </div>
                            <div class="pro-desc-assesment-ratings">
                              <div class="row">
                                <div class="col-12 col-md-4 p-0">
                                  <b-form-rating
                                    id="rating-inline"
                                    inline
                                    :value="3"
                                    disabled
                                  ></b-form-rating>
                                </div>
                                <div class="col-12 col-md-5">
                                  <b-progress
                                    height="2rem"
                                    :value="
                                      (total_reviews_3 * 100) / total_rating
                                    "
                                    class="mb-2"
                                  ></b-progress>
                                </div>
                                <div class="col-12 col-md-3">
                                  <span class="pro-desc-total-reviews"
                                    >{{ total_reviews_3 }} Reviews</span
                                  >
                                </div>
                              </div>
                            </div>
                            <div class="pro-desc-assesment-ratings">
                              <div class="row">
                                <div class="col-12 col-md-4 p-0">
                                  <b-form-rating
                                    id="rating-inline"
                                    inline
                                    :value="2"
                                    disabled
                                  ></b-form-rating>
                                </div>
                                <div class="col-12 col-md-5">
                                  <b-progress
                                    height="2rem"
                                    :value="
                                      (total_reviews_2 * 100) / total_rating
                                    "
                                    class="mb-2"
                                  ></b-progress>
                                </div>
                                <div class="col-12 col-md-3">
                                  <span class="pro-desc-total-reviews"
                                    >{{ total_reviews_2 }} Reviews</span
                                  >
                                </div>
                              </div>
                            </div>
                            <div class="pro-desc-assesment-ratings">
                              <div class="row">
                                <div class="col-12 col-md-4 p-0">
                                  <b-form-rating
                                    id="rating-inline"
                                    inline
                                    :value="1"
                                    disabled
                                  ></b-form-rating>
                                </div>
                                <div class="col-12 col-md-5">
                                  <b-progress
                                    height="2rem"
                                    :value="
                                      (total_reviews_1 * 100) / total_rating
                                    "
                                    class="mb-2"
                                  ></b-progress>
                                </div>
                                <div class="col-12 col-md-3">
                                  <span class="pro-desc-total-reviews"
                                    >{{ total_reviews_1 }} Reviews</span
                                  >
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <div class="pro-desc-add-review">
                                  <button
                                    type="button"
                                    class="btn btn-primary"
                                    id="addReviewButton"
                                  >
                                    Add Review
                                  </button>
                                  <span id="without_login_review_message"
                                    >Please Login To Add Review!</span
                                  >
                                  <div
                                    class="alert alert-success"
                                    id="reviewSubmissionMessage"
                                    style="display: none"
                                  >
                                    <strong>Thanks!</strong> Your Feedback Has
                                    Been Received.Our Team Will Check Your
                                    Review And Will Approve Or Disapproved It.
                                  </div>
                                  <div id="reviewFormDiv" style="display: none">
                                    <h3>
                                      Please Provide Your Valueable Feedback!
                                    </h3>
                                    <div
                                      class="alert alert-danger"
                                      id="reviewSubmissionErrors"
                                      style="display: none"
                                    ></div>
                                    <form
                                      @submit.prevent="addReview"
                                      class="pt-4"
                                    >
                                      <div class="form-group">
                                        <b-form-rating
                                          v-model="form.rating"
                                          variant="warning"
                                          class="mb-2"
                                        ></b-form-rating>
                                      </div>
                                      <div class="form-group">
                                        <label for="review">Message</label>
                                        <textarea
                                          v-model="form.message"
                                          name="message"
                                          id="review"
                                          cols="20"
                                          rows="5"
                                          class="form-control"
                                        ></textarea>
                                      </div>
                                      <div class="modal-footer">
                                        <button
                                          type="button"
                                          class="btn btn-secondary"
                                          id="closeReviewFormDiv"
                                        >
                                          Close
                                        </button>
                                        <button class="btn btn-primary">
                                          Submit
                                        </button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="tab-pane active"
                      id="tabs-2"
                      role="tabpanel"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Product Description Section -->
      <section
        class="related-product-section py-5"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="500"
      >
        <div class="container-fluid">
          <div class="related-product-header px-5">
            <h2>related Products</h2>
          </div>
          <div class="related-product-inner px-5 py-3">
            <div class="related-products">
              <div
                class="card pro_card mx-3"
                v-for="relatedItem in relatedItems"
                :key="relatedItem.id"
              >
                <div class="item-related p-3">
                  <p class="m-0">
                    {{ relatedItem.category }}
                    <span
                      v-if="relatedItem.new_arrival"
                      class="badge badge-secondary"
                      >New</span
                    >
                    <span
                      v-else-if="relatedItem.onsale"
                      class="badge badge-secondary"
                      >OnSale</span
                    >
                  </p>
                </div>
                <router-link
                  :to="{ name: 'detail-item', params: { id: relatedItem.id } }"
                >
                  <img
                    :src="'.' + relatedItem.image_path"
                    class="card-img-top img-resp"
                    alt="related item image"
                /></router-link>
                <div class="card-body p-2">
                  <h5 class="card-title text-center border-bottom py-2">
                    {{ relatedItem.name }}
                  </h5>
                  <div class="price-tag border-bottom">
                    <span>
                      Rs:{{ relatedItem.price }}
                      <span class="discounted-price">
                        <del></del>
                      </span>
                      <span class="product-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fas fa-star-half-alt checked"></span>
                      </span>
                    </span>
                  </div>
                  <div class="product-cart" style="display: none">
                    <button
                      class="addtocart"
                      @click="$root.addToCart(relatedItem.id)"
                    >
                      <div class="pretext">
                        <i class="fas fa-cart-plus"></i> ADD TO CART
                      </div>
                      <div class="pretext done">
                        <div class="posttext">
                          <i class="fas fa-check"></i> ADDED
                        </div>
                      </div>
                    </button>
                    <button
                      id="fav"
                      @click="$root.addTowishList(relatedItem.id)"
                      type="button"
                      class="btn wish"
                    >
                      <i class="far fa-heart un-fill"></i>
                      <i class="fas fa-heart d-none fill"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      itemDetails: {},
      relatedItems: {},
      itemReviews: {},
      paginate: {},
      total_reviews_5: 0,
      total_reviews_4: 0,
      total_reviews_3: 0,
      total_reviews_2: 0,
      total_reviews_1: 0,
      total_rating: 0,
      imageurl: "",
      form: new Form({
        item_id: this.$route.params.id,
        message: "",
        rating: "",
      }),
    };
  },
  watch: {
    $route() {
      this.itemDetail();
    },
  },
  methods: {
    itemDetail() {
      let self = this;
      axios
        .get("itemdetail", {
          params: {
            id: this.$route.params.id,
          },
        })
        .then(function (response) {
          self.itemDetails = response.data.data.itemDetails;
          self.imageurl = "." + response.data.data.itemDetails.image_path;
          $("#tabs-2").html(response.data.data.itemDetails.description);
          self.relatedItems = response.data.data.relatedItems;
          setTimeout(function () {
            // Owl-Ca

            $("#sync2").owlCarousel({
              items: 4,
              dots: true,
              nav: true,
              smartSpeed: 200,
              slideSpeed: 200,
              // slideBy: 3, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
              responsiveRefreshRate: 100,
              responsive: {
                0: {
                  items: 1,
                  nav: true,
                },
                600: {
                  items: 3,
                  nav: true,
                },
                1000: {
                  items: 4,
                  nav: true,
                  loop: false,
                },
              },
              navText: [
                '<svg width="40px" height="40px" style="position: absolute; left: -25px;top: -85px;" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>',
                '<svg width="40px" height="40px" style="position: absolute; right: -30px;top: -85px;" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>',
              ],
            });

            // Related Products Slider
            $(".related-products").slick({
              slidesToShow: 4,
              slidesToScroll: 1,
              autoplay: true,
              autoplaySpeed: 2000,
              dots: false,
              arrows: true,
              responsive: [
                {
                  breakpoint: 1150,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                  },
                },
                {
                  breakpoint: 769,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                  },
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    dots: false,
                    arrows: false,
                  },
                },
              ],
            });
            // Hover on Cards
            $(".pro_card").hover(function () {
              $(this).find(".product-cart").toggle(400);
            });
          }, 0);
        });
    },
    async getItemReviews(page = 1) {
      let self = this;
      self.paginate = {};
      await axios
        .get(`itemReviews?page=${page}`, {
          params: {
            id: self.$route.params.id,
          },
        })
        .then(function (response) {
          self.itemReviews = response.data.data.itemReviews.data;
          self.paginate = response.data.data.itemReviews;
          self.total_rating = 0;
          response.data.data.itemReviewsSummary.forEach((itemReview) => {
            let key = "total_reviews_" + itemReview.rating;
            self.$data[key] = 0;
            self.$data[key] = itemReview.total_reviews;
            self.total_rating += itemReview.total_reviews;
          });
          $("#cover").fadeOut();
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    addReview() {
      let self = this;
      axios
        .post("reviewform", this.form)
        .then((response) => {
          if (response.data.code == 200) {
            self.form = {};
            $("#reviewFormDiv").fadeOut();
            $("#reviewSubmissionMessage").fadeIn();
            setTimeout(function () {
              $("#reviewSubmissionMessage").fadeOut();
              $("#addReviewButton").fadeIn();
            }, 3000);
          } else {
            alert("Error");
          }
        })
        .catch(function (error) {
          if (error.response) {
            if (error.response.status == 401) {
              self.$router.push("/customerlogin");
            }
            if (error.response.status == 422) {
              $("#reviewSubmissionErrors").fadeIn();
              $.each(error.response.data.errors, function (index, value) {
                $("#reviewSubmissionErrors").append(
                  `<strong>${value}</strong><br>`
                );
              });
              setTimeout(function () {
                $("#reviewSubmissionErrors").fadeOut();
                $("#reviewSubmissionErrors").empty();
              }, 3000);
            }
          }
        });
    },
  },
  mounted() {
    let self = this;
    this.$root.checkUserLogin();
    this.itemDetail();
    this.getItemReviews();
    $("body").on("click", ".relatedImage", function () {
      self.imageurl = $(this).attr("src");
    });
    $(document).ready(function () {
      $("#addReviewButton").click(function () {
        $("#addReviewButton").fadeOut(400);
        $("#reviewFormDiv").fadeIn();
      });
      $("#closeReviewFormDiv").click(function () {
        $("#reviewFormDiv").fadeOut(400);
        $("#addReviewButton").fadeIn();
      });
    });
  },
};
</script>
<style scoped>
.i-video {
  width: 100%;
  height: 533px;
}
#submit-form {
  display: none;
}

#sync1 .item {
  /* background: #0c83e7; */
  padding: 80px 0px;
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

#sync2 .item {
  /* background: #1e56ab; */
  /* border: 1px solid #000; */
  padding: 10px 0px;
  margin: 5px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.owl-theme .owl-nav [class*="owl-"] {
  transition: all 0.3s ease;
}
.owl-theme .owl-nav [class*="owl-"].disabled:hover {
  background-color: #d6d6d6;
}

#sync1 .owl-theme {
  position: relative;
}
#sync1 .owl-theme .owl-next,
#sync1 .owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 0;
}
#sync2 .owl-nav {
  position: relative;
}

/* Related Product section */
.related-product-header h2 {
  padding: 0px 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.pro_card:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* @media scree and (max-width: 320px) {
        .product-detail-section{
            margin: 0px;
        }
    } */
</style>
