<template>
    <div id="login">
        <section class="login-form py-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="login-inner">
                            <h1 class="text-center">LOGIN</h1>
                            <form @submit.prevent="submitForm" style="max-width: 500px; margin: auto;">
                                <span id="error"></span>
                                <div class="input-container">
                                    <i class="fa fa-envelope icon"></i>
                                    <input class="input-field" type="text" v-model="form.email" placeholder="Email" name="email" />
                                </div>

                                <div class="input-container">
                                    <i class="fa fa-key icon"></i>
                                    <input class="input-field" type="password" v-model="form.password" placeholder="Password" name="password" />
                                </div>
                                <div class="form-group">
                                 <!-- <router-link type="submit" class="btnSubmit" to="/">Login</router-link> -->
                                    <input type="submit" class="btn btn-primary btn-lg btn-clr" value="Login" />
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <!-- Checkbox -->
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                                            <label class="form-check-label" for="form1Example3">
                                                Remember me
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <!-- Simple link -->
                                        <a href="#" class="clr">Forgot password?</a>
                                    </div>
                                </div>

                                <div class="text-p">Not A Member ?</div>
                                <div class="form-group">
                                <router-link type="submit" class="btn btn-primary btn-lg btn-clr" to="/register">Sign Up</router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    export default {
        data(){
            return{
                form:{},
            }
        },
        methods:{
            submitForm() {
                let self = this;
				axios.post('customer/login',this.form)
				.then(function (response) {
                    if(response.data.data == true)
                    {
                        self.$router.push('/')
                        location.reload();
                        self.$root.getCartCount();
                    }
                    else{
                        self.$router.push('/customerlogin');
                        $('#error').append('<div class="alert alert-danger ">Invalid Credentials</div>')
                    }
                })
                .catch(function (error) {
					// console.log(error)s
                });
            },
        },
        mounted() {
            $('#cover').fadeOut();
        },
    };
</script>

<style scoped>
    .input-container {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        width: 100%;
        position: relative;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .icon {
        padding-top: 15px;
        background: white;
        color: #1e56ab;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50px;
        position: absolute;
        margin: auto;
        left: 6px;
        top: 5px;
    }

    .input-field {
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        padding: 10px 0px 10px 65px;
        outline: none;
        border-radius: 50px;
        font-size: 28px;
        border: none;
    }
    .btn:hover {
        opacity: 1;
        background: #143974;
        box-shadow: 3px 3px 3px #aaaaaa;
    }
    .clr:hover {
         opacity: 1;
        color: #143974;
        box-shadow: 0px 2px 2px #aaaaaa;
        background: transparent;
        border-radius: 4px;
    }
    .form-group {
        text-align: center;
        padding: 15px 0px 0px 0px;
    }
    .input-group {
        text-align: center;
    }
    .text-p {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
    }
    input[type="checkbox"] + label:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #1e56ab;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.6;
        transition: all 0.12s, border-color 0.08s;
    }
    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"] + label {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 20px;
        font: 14px/20px "Open Sans", Arial, sans-serif;
        color: #000;
        cursor: pointer;
    }

    input[type="checkbox"] + label:last-child {
        margin-bottom: 0;
    }

    input[type="checkbox"]:checked + label:before {
        width: 10px;
        top: -5px;
        left: 5px;
        border-radius: 0;
        opacity: 1;
        border-top-color: transparent;
        border-left-color: transparent;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .btn-clr{
        background: #1e56ab;
        border-radius: 1.5rem;
        border-color: #1e56ab;
    }
    .clr{
        color: #1e56ab;
        text-decoration: none;
    }
</style>
