<template>
  <div id="shop">
    <!-- Product Area -->
    <div class="item-area-section">
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-12 col-md-12 col-xl-12 col-lg-12"
            data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="500"
          >
            <div class="shop-products">
              <div
                class="row row-cols-1 row-cols-md-6 row-cols-lg-4 row-cols-xl-3 position-relative"
              >
                <div
                  class="col-12 col-md-6 col-lg-4 col-xl-4 mb-4 col-card"
                  v-for="(item, index) in items"
                  :key="index"
                  data-aos="fade-up"
                  data-aos-easing="linear"
                  data-aos-duration="300"
                >
                  <!-- <div class="card pro_card">
                                        <div class="item-related text-dark">
                                            <p>
                                                {{item.category}}
                                            </p>
                                        </div>
                                        <router-link :to="{name: 'detail-item', params:{id:item.id}}">
                                        <img :src="('.'+item.image_path)" class="card-img-top img-resp d-flex justify-content-center" alt="item image" /></router-link>
                                        <div class="card-body">
                                            <h5 class="card-title text-center border-bottom py-2">
                                                <a href="#" class="text-dark">{{item.name}}</a>
                                            </h5>
                                            <div class="price-tag border-bottom text-dark">
                                                <span v-if="item.discount_price > 0">
                                                    Rs.{{item.total_price}} <br>
                                                    <span class="discounted-price">
                                                        <del>Rs.{{item.price}}</del>
                                                    </span>
                                                    <span class="product-rating">
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fas fa-star-half-alt checked"></span>
                                                    </span>
                                                </span>
                                                <span v-else>
                                                    Rs.{{item.price}}
                                                    <span class="product-rating">
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fas fa-star-half-alt checked"></span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="product-cart" style="display: none;">
                                                <button class="addtocart">
                                                    <a @click="$root.addToCart(item.id)">
                                                        <div class="pretext"><i class="fas fa-cart-plus"></i> ADD TO CART</div>
                                                    </a>
                                                    <div class="pretext done">
                                                        <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                                                    </div>
                                                </button>
                                                <button @click="$root.addTowishList(item.id)" type="button" class="btn">
                                                    <i class="far fa-heart"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div> -->
                  <div class="card pro_card rounded-lg mx-3 p-3">
                    <router-link
                      :to="{ name: 'detail-item', params: { id: item.id } }"
                    >
                      <div class="item-related text-white pb-0">
                        <p class="m-0">
                          <!-- <span
                            class="btn btn-danger fs-5 py-1 rounded-pill px-2 product_card_category"
                          >
                            {{ item.category }}
                          </span> -->
                          <span v-if="item.new_arrival" class="badge fontnew badge-secondary shake-animation new-product">New</span>
                          <span v-else class="badge fontnew badge-primary sale shake-animation">OnSale</span>
                        </p>
                      </div>
                      <div class="w-100 d-flex justify-content-center">
                        <!-- <div class="w-75"> -->
                        <img
                          :src="'.' + item.image_path"
                          class="card-img-top mx-2 mb-3 img-resp overflow-hidden rounded-lg text-center"
                          :alt="`${item.meta_tags}`"
                        />
                        <!-- </div> -->
                      </div>
                    </router-link>
                    <div class="card-body cart-detail py-2 px-3">
                      <h5
                        class="mb-0 custom-bold-h5 text-lg-left text-center text-dark py-2 single_line_text"
                      >
                        {{ item.name }}
                      </h5>
                      <div
                        v-if="item.discount_price > 0"
                        class="row row-cols-xl-2 row-cols-1 m-0"
                      >
                        <span class="text-dark text-xl-left text-center">
                          PKR {{ item.total_price }}
                          <span class="discounted-price">
                            <del>{{ item.price }}</del>
                          </span>
                        </span>
                        <span
                          class="product-rating-updated text-xl-right text-center"
                        >
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fas fa-star-half-alt checked"></span>
                        </span>
                      </div>
                      <div v-else class="row row-cols-xl-2 row-cols-1 m-0">
                        <span class="text-dark text-xl-left text-center">
                          PKR {{ item.price }} <br />
                        </span>
                        <span
                          class="product-rating-updated text-lg-right text-center"
                        >
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fas fa-star-half-alt checked"></span>
                        </span>
                      </div>
                      <div class="product-cart" style="display: none">
                        <button
                          @click="$root.addToCart(item.id)"
                          class="addtocart w-75"
                        >
                          <div class="pretext">
                            <i class="fas fa-cart-plus"></i> ADD TO CART
                          </div>
                          <div class="pretext done">
                            <div class="posttext">
                              <i class="fas fa-check"></i> ADDED
                            </div>
                          </div>
                        </button>
                        <button
                          @click="$root.addTowishList(item.id)"
                          type="button"
                          class="btn"
                        >
                          <i class="far fa-heart"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Button from '../../../../vendor/laravel/jetstream/stubs/inertia/resources/js/Jetstream/Button.vue';
export default {
  //   components: { Button },
  data() {
    return {
      companies: {},
      items: {},
      bg: "./images/store-bg.png",
      pBanner: ["pbanner1.png", "pbanner2.png", "pbanner3.png"],
    };
  },
  methods: {
    getCompanies() {
      let self = this;
      axios.get("getcompany").then(function (response) {
        self.companies = response.data.data;
        $("#cover").fadeOut();
      });
    },
    getItems() {
      let self = this;
      axios.get("getoffers").then(function (response) {
        self.items = response.data.data;
        setTimeout(() => {
          // Hover on Cards
          $(".pro_card").hover(function () {
            $(this).find(".product-cart").toggle(400);
          });
        }, 0);
      });
    },
  },
  mounted() {
    this.getItems();
    this.getCompanies();
    $(document).ready(function () {
      let added = false;
      // Add to Cart Button

      // SideBar Filters
      $("#accordion").on("hide.bs.collapse show.bs.collapse", (e) => {
        $(e.target).prev().find("i:last-child").toggleClass("fa-minus fa-plus");
      });
    });
  },
};
</script>

<style>
.btnSubmit {
  background: linear-gradient(135deg, #3500f3, #2e03ec);
  width: 50px;
  border-radius: 1.5rem;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 35px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: aliceblue;
}
.btnSubmit:hover {
  background: linear-gradient(135deg, #3500f3, #2e03ec);
  width: 50px;
  border-radius: 1.5rem;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 35px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: aliceblue;
}
.vl {
  border-left: 2px solid rgba(155, 142, 172, 0.342);
  height: 500px;
}
.product-cart .btn {
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  color: #1e56ab;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: inherit;
  border: 0;
  position: absolute;
  right: 8px;
  top: 11px;
  border: 1px solid #eb1922;
  border-radius: 100px;
}
.product-cart .btn i {
  margin-right: 10px;
}
.product-cart button[type="button"] {
  cursor: pointer;
  padding: 8px 10px;
  background: #fff;
}
.product-cart button[type="button"] i {
  margin-right: 0;
  color: #eb1922;
}
</style>
