<template>
    <div id="terms">
        <section class="py-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="terms-heading text-center pb-3">
                            <h1>Privacy Statement</h1>
                        </div>
                        <div class="intro">
                        <p>This site is claimed and worked by Al-Mumtaz Group of Electronics (referred to as "Al-Mumtaz", "we", "us", or "our" thus). We are focused on securing the protection of our user while they collaborate with our site. </p>
                        <p>We may gather following data when you visit or utilize our site. Furthermore, we consequently get and record data on our worker logs from your program including your IP address, treat data and the page you mentioned.</p>
                        </div>
                        <!--  -->
                        <div class="sub-heading">
                            <h4 class="font-weight-bold">1 - What is done with your Information? </h4>
                        </div>
                        <div class="sub-desc">
                            <p>At the point when you buy something from our store, as a feature of the purchasing and selling measure, we gather the individual data you give us like your name, address and email address. </p>
                            <p>At the point when you peruse our store, we additionally naturally accept your PC's web convention (IP) address to give us data that assists us with finding out about your program and working framework.</p>
                            <p>Email promoting (if appropriate): With your consent, we may send you messages about our store, new items and different updates.</p>
                        </div>
                        <!--  -->
                        <div class="sub-heading">
                            <h4 class="font-weight-bold">2 - CONSENT </h4>
                        </div>
                        <div class="sub-heading">
                            <h5 class="font-weight-bold">How would you get my consent? </h5>
                        </div>
                        <div class="sub-desc">
                            <p>At the point when you give us individual data to finish an exchange, confirm your Visa, put in a request, mastermind a conveyance or return a buy, we suggest that you agree to our gathering it and utilizing it for that particular explanation as it were. </p>
                            <p>In the event that we request your own data for an optional explanation, such as advertising, we will either ask you straightforwardly for your communicated assent, or give you a chance to say no. </p>
                        </div>
                         <div class="sub-heading">
                            <h4 class="font-weight-bold">How would I Drawback my Consent?  </h4>
                        </div>
                        <div class="sub-desc">
                            <p>On the off chance that after you select in, you alter your perspective, you may pull out your agree for us to get in touch with you, for the proceeded with assortment, use or divulgence of your data, whenever, by reaching us at info@almumtaz.com.pk</p>
                        </div>
                        <div class="sub-heading">
                            <h4 class="font-weight-bold">3 - DISCLOSURE </h4>
                        </div>
                        <div class="sub-desc">
                            <p>We may reveal your own data in the event that we are legally necessary to do as such or on the off chance that you disregard our Terms of Service.</p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">4 - PAYMENT </h4>
                        </div>
                        <div class="sub-desc">
                            <p>On the off chance that you decide to pay through Visa, no information is put away on our workers. Your exchange data is straightforwardly shipped off the bank through encoded channel (SSL-Secure Socket Layer)</p>
                            <p>All immediate installment entryways hold fast to the principles set by PCI-DSS as overseen by the PCI Security Standards Council, which is a joint exertion of brands like Visa, MasterCard, Jazz Cash and Easy paisa. </p>
                            <p>PCI-DSS prerequisites help guarantee the protected treatment of charge card data by our store and its specialist organizations.</p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">5 - LINKS </h4>
                        </div>
                        <div class="sub-desc">
                            <p>At the point when you click on joins on our store, they may guide you away from our site. We are not answerable for the protection practices of different destinations and urge you to peruse their security explanations.</p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">6 - SECURITY </h4>
                        </div>
                        <div class="sub-desc">
                            <p>To ensure your own data, we avoid potential risk and follow industry best practices to ensure it isn't improperly lost, abused, got to, revealed, adjusted or obliterated.</p>
                            <p>In the event that you give us your Visa data, the data is encoded utilizing secure attachment layer innovation (SSL) and put away with an AES-256 encryption. Albeit no technique for transmission over the Internet or electronic stockpiling is 100% secure, we follow all PCI-DSS necessities and execute extra commonly acknowledged industry principles. </p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">7 - COOKIES  </h4>
                        </div>
                        <div class="sub-desc">
                            <p>A treat is a little book document that is saved to, and, during ensuing visits, recovered from your PC or cell phone. almumtaz.com.pk </p>
                            <p>We utilizes treats to improve and work on your visit. We don't utilize treats to store individual data or to unveil data to outsiders. </p>
                            <p>There are two sorts of treats: perpetual and brief (meeting treats). Perpetual treats are put away as a document on your PC or cell phone for no longer than a year. Meeting treats are put away briefly and vanish when you close your program meeting.</p>
                            <p>We utilize lasting treats to store your decision of start page and to store your subtleties. We use meeting treats when you utilize the item filtration work and to check in the event that you are signed in. You can undoubtedly eradicate treats from your PC or cell phone utilizing your program. </p>
                            <p>We utilize outsider treats to gather insights in total structure in examination devices like Google Analytics and Core Metrics. The treats utilized are both lasting and impermanent treats (meeting treats). The lasting treats are put away on your PC or cell phone for no longer than two years.</p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">8 - AGE OF CONSENT  </h4>
                        </div>
                        <div class="sub-desc">
                            <p>By utilizing this site, you address that you are in any event the time of greater part in your state or area of home, or that you are the period of lion's share in your state or territory of home and you have given us your agree to permit any of your minor wards to utilize this site.</p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">9 - CHANGES TO THIS PRIVACY POLICY </h4>
                        </div>
                        <div class="sub-desc">
                            <p>We maintain all authority to adjust this protection strategy whenever, so if it's not too much trouble, survey it habitually. Changes and explanations will produce results quickly upon their posting on the site. In the event that we roll out material improvements to this approach, we will tell you here that it has been refreshed, so you know about what data we gather, how we use it, and under what conditions, assuming any, we use as well as reveal it.</p>
                            <p>In the event that our store is gained or converged with another organization, your data might be moved to the new proprietors so we may keep on offering items to you.</p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">QUESTIONS AND CONTACT INFORMATION </h4>
                        </div>
                        <div class="sub-desc">
                            <p>In the event that you might want to: access, right, correct or erase any close to home data we have about you, register an objection, or just need more data contact our Privacy Compliance Officer at info@almumtaz.com.pk</p>
                      </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    mounted() {
        $('#cover').fadeOut();
        $('html, body').animate({
            scrollTop: $("#main_head").offset().top
        }, 500);
    }
};
</script>

<style>

</style>