<template>
<div class="container res-container">
  <div class="mt-4 mx-4">
    <div class="row">
      <div class="col-lg-12" v-for="(blog, index) in blogdetails" :key="index" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
        <div class="cs-blog-detail load" >
          <div class="cs-main-post load">
            <figure><img width="80%" alt="jobline-blog " :src="('blogs_images/') + blog.image"   /></figure>
          </div>
          <div class="cs-post-title load">
            <div class="cs-author load">
              <!-- <figure>
                <a href=""
                  ><img
                    width="32"
                    height="32"
                    src="http://1.gravatar.com/avatar/7a20fad302fc2dd4b4649dc5bdb3c463?s=32&amp;d=mm&amp;r=g"
                    alt=""
                /></a>
              </figure> -->
              <div class="cs-text load">
                  <h4>{{blog.title}}</h4>
                <!-- <a
                  href="http://jobcareer.chimpgroup.com/jobdoor/user/jobcareer-admin/"
                  >Julia Andrason</a
                > -->
              </div>
            </div>
            <!-- <div class="post-option">
              <span class="post-date"
                ><a href="http://jobcareer.chimpgroup.com/jobdoor/2015/11/"
                  ><i class="cs-color icon-calendar6"></i>Nov 23, 2015</a
                ></span
              >
              <span class="post-comment"
                ><a
                  href="http://jobcareer.chimpgroup.com/jobdoor/experience-writing-for-producing-a-newscast/#comments"
                  ><i class="cs-color icon-chat6"></i>4 Comments</a
                ></span
              >
            </div> -->
          </div>
          <div class="cs-post-option-panel">
            <div class="rich-editor-text load">
              <p v-html="blog.content">
              
              </p>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  </div>
</template>

<script>
function reveal(item, wrapper) {
  var verticalEdge   = wrapper.scrollTop() + wrapper.outerHeight(),
      horizontalEdge = wrapper.scrollLeft() + wrapper.outerWidth();
  
  item.each(function() {
    if ((verticalEdge >= $(this).offset().top) &&
        (horizontalEdge >= $(this).offset().left)) {
          $(this).addClass('animate');
        }
  });
}

$(window).on("load scroll", function() {
  reveal($('.load'), $(this));
});

export default {
  data() {
    return {
        blogdetails:{},
        blog: this.$route.params.id, 
        postimage: "./images/Brand_banner_02.png",
    };
  },
  methods:{

    readblog(){
      let self = this;
      axios.get('blogdetail/' + this.blog,{
        params:{
          website : true,
        },
          })
        .then(function(response){
          
          self.blogdetails = response.data.data;
          console.log(response.data);
          $('#cover').fadeOut();
        })
    

    }
  },

  mounted(){
    this.readblog();
  }
};
</script>


<style scoped>
.image {
  width: 64px;
  height: 50px;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-right: 0px;
}

.post-date {
  font-size: 0.8rem;
}
.post-title {
  font-size: 13px;
  font-weight: bold;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  border: none;
}
.post-card {
  border: none;
}
.post-card:hover {
  box-shadow: none;
}
</style>