<template>
<div class="container res-container">
     <div class="signup-form" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
        <form @submit.prevent="submitForm">
            <h2>Register</h2>
            <p class="hint-text">Create your account. It's free and only takes a minute.</p>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <input v-validate="'required'" v-model="form.first_name" type="text" name="first_name" class="form-control" placeholder="First Name"/>
                        <span class="validation_error">{{ errors.first('first_name') }}</span>
                    </div>
                    <div class="col">
                        <input v-validate="'required'" v-model="form.last_name" type="text"  name="last_name"  class="form-control"  placeholder="Last Name"/>
                        <span class="validation_error">{{ errors.first('last_name') }}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                <input type="email" v-model="form.email"  v-validate="'required|email'" data-vv-as="email" class="form-control" name="email" placeholder="Email"/>
                <span class="validation_error">{{ errors.first('email') }}</span>
            </div>
            <div class="col">
                <input type="text" v-model="form.phone_number" v-validate="'required'" data-vv-as="number" class="form-control" name="number" placeholder="Phone Number"/>
                <span class="validation_error">{{ errors.first('number') }}</span>
         </div>
        </div>
      </div>
            <div class="form-group">
                <input type="password" v-model="form.password" class="form-control" name="password" :class="{'is-danger': errors.has('password')}" placeholder="Password" ref="password"  v-validate="'required'"/>
                <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>

            </div>
            <div class="form-group">
                <input type="password" v-validate="'required|confirmed:password'" v-model="form.password_confirmation" class="form-control" name="password_confirmation" :class="{'is-danger': errors.has('password_confirmation')}" placeholder="Confirm Password" data-vv-as="password"/>
                <span v-show="errors.has('password_confirmation')" class="help is-danger">{{ errors.first('password_confirmation') }}</span>
            </div>
            <div class="form-group">
                <label class="form-check-label">
					<input type="checkbox"/> I accept the
						<router-link to="/termscondition">Terms of Use</router-link>
						&amp;
						<router-link to="/privacy">Privacy Policy</router-link>
					</label>
            </div>
            <div class="form-group">
              <!-- <router-link type="submit" class=" text-light btn btn-lg btn-block" to="/customerlogin">Register Now</router-link> -->
                <input type="submit" class="btn btn-lg btn-block" value="Register Now">
            </div>
        </form>
        <div class="text-center">Already have an account? <router-link to="/customerlogin">Sign in</router-link></div>
    </div>
    </div>
</template>
<script>
    import Vue from 'vue';
    import VeeValidate from 'vee-validate';
    Vue.use(VeeValidate);

    export default {

        data() {
            return {
				form : {},
            };
        },
        methods: {
            submitForm() {
                let self = this;
                 this.$validator.validate().then(valid => {
            if (valid) {
            axios.post('customer',this.form)
                    .then(function (response) {

                        if (response.data.code == 200) {
                            Swal.fire({
                        icon: 'Success',
                        title: 'Congratulations',
                        text: 'You have been Registered',
                        });
                            self.$router.push('/customerlogin');
                        }
                    })
                  }
                    });

                }
            },
        mounted() {
            $('#cover').fadeOut();
            $("html, body").animate(
                {
                    scrollTop: $("#main_head").offset().top,
                },
                500
            );
        },
    };
</script>

<style scoped>
    body {
        color: #fff;
        background: #63738a;
        font-family: "Roboto", sans-serif;
    }
    .form-control {
        height: 40px;
        box-shadow: none;
        color: #969fa4;
    }
    .form-control:focus {
        border-color: #5cb85c;
    }
    .form-control,
    .btn {
        border-radius: 3px;
    }
    .signup-form {
        width: 50%;
        margin: 0 auto;
        padding: 30px 0;
        font-size: 15px;
    }
    .signup-form h2 {
        color: #636363;
        margin: 0 0 15px;
        position: relative;
        text-align: center;
    }
    .signup-form h2:before,
    .signup-form h2:after {
        content: "";
        height: 2px;
        width: 30%;
        background: #d4d4d4;
        position: absolute;
        top: 50%;
        z-index: 2;
    }
    .signup-form h2:before {
        left: 0;
    }
    .signup-form h2:after {
        right: 0;
    }
    .signup-form .hint-text {
        color: #999;
        margin-bottom: 30px;
        text-align: center;
    }
    .signup-form form {
        color: #999;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #f2f3f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .signup-form .form-group {
        margin-bottom: 20px;
    }
    .signup-form input[type="checkbox"] {
        margin-top: 3px;
    }
    .signup-form .btn {
        font-size: 16px;
        font-weight: bold;
        min-width: 140px;
        outline: none !important;
    }
    .signup-form .row div:first-child {
        padding-right: 10px;
    }
    .signup-form .row div:last-child {
        padding-left: 10px;
    }
    .signup-form a {
        color: #1e56ab;
        text-decoration: underline;
    }
    .signup-form a:hover {
        text-decoration: none;
    }
    .signup-form form a {
        color: #1e56ab;
        text-decoration: none;
    }
    .signup-form form a:hover {
        text-decoration: underline;
    }
    .btn-block {
        background-color: #1e56ab;
        color: #fff;
    }
    @media screen and (max-width: 500px) {
        .signup-form {
            width: 85%;
        }
    }
    @media screen and (max-width: 1440px) {
  .res-container{
    max-width: 100% !important;
    padding: 0PX !important;
  }
}
</style>
