<template>
    <div id="terms">
        <section class="py-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="terms-heading text-center pb-3 font-weight-bold">
                            <h1>Returns Policy</h1>
                        </div>
                        <div class="intro text-center">
                            <p>**Remember that it’s an immediate process so everything you must do at the spot**</p>
                        </div>
                        <div class="sub-desc">
                            <ul>
                                <li> RETURN is possible, if the customer received the wrong item from our end and informed us on the spot. </li>
                                <li>Items will not be returned if they found damaged, scratched or used.</li>
                                <li>RETURN of wrong item will be entertained only when Original Invoice/ Receipt will be present.</li>
                                <li>RETURN is not entertained after receiving deed.</li>
                                <li>Items must be checked at the time of receiving an order, otherwise, return claims will not be entertained.</li>
                                <li>If an item get a technical issue customer should contact the respective company (that comes under company claim).</li>
                                
                            </ul>
                        </div>
                         <div class="py-2">
                           <h4 class="font-weight-bold text-center">(Terms & Conditions apply)</h4>
                       </div>
                        </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>

export default {
    mounted() {
        $('#cover').fadeOut();
        $('html, body').animate({
            scrollTop: $("#main_head").offset().top
        }, 500);
    }
};
</script>
<style>

</style>

                            