<template>
  <div class="container res-container" style="overflow: hidden">
    <div id="shop">
      <!-- Product Title & Bredcrumb -->
      <section class="product-title-section">
        <div class="container">
          <div class="row"></div>
        </div>
      </section>
      <!-- Store Header -->
      <section class="store-header col-lg-12 col-md-12" :style="{ backgroundImage: `url(${bg})` }">
        <div class="container"></div>
      </section>
      <!-- Product Area -->

      <div class="item-area-section p-1 p-sm-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-3 col-xl-3" data-aos="fade-up" data-aos-easing="linear"
              data-aos-duration="500">
              <div class="app-content">
                <!-- <vue-range-slider v-model="value"  :max="+max" :min="+min"  ></vue-range-slider> -->
                <h6>Price Rs ({{ min }} - {{ max }})</h6>
                <div class="row">
                  <div class="col-md-6">
                    <input type="number" v-model="value" class="form-control" name="min" min="1" placeholder="Min" />
                  </div>
                  <div class="col-md-6">
                    <input type="number" v-model="value1" class="form-control" name="max" max="1" placeholder="Max" />
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column align-items-center mt-3">
                <div class="text-center w-100 filter-title">
                  <h5 class="p-0 m-0">Brands</h5>
                </div>
                <div class="row row-cols-2 w-100">

                  <!-- Company Filter -->

                  <div class="item-filter-sidebar">
                  <div id="accordion" class="myaccordion">
                    <div class="card">
                      
                      <div class="px-0" id="headingOne">
                        
                        
                          <button
                          class="d-flex align-items-center justify-content-between btn btn-link rounded-0"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        >
                          Select Campany
                          <span class="fa-stack fa-sm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-minus fa-stack-1x fa-inverse"></i>
                          </span>
                        </button>
                      
                      </div>            
                      
                        <div
                        id="collapseOne"
                        class="collapse multi-collapse show"
                        aria-labelledby="headingOne"
                        data-parent="#accordion"
                      >
                        <div class="card-body p-1">
                          <div class="filter-checks">
                            <ul class="list-unstyled">
                              <li
                                v-for="(company, index) in companies"
                                :key="index"
                              >
                                <input
                                  v-model="applyCompanyFilters"
                                  :value="company.id"
                                  type="checkbox"
                                  :id="company.id"
                                />
                                <label :for="company.id">{{
                                  company.name
                                }}</label>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      
                      </div>
                    </div>
                  </div>

                  <!-- Category Filter -->

                  <div class="item-filter-sidebar">
                    <div id="accordion2" class="myaccordion">
                      <div class="card">
                        
                        <div class="px-0" id="headingTwo">
                          
                          
                            <button
                            class="d-flex align-items-center justify-content-between btn btn-link rounded-0"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="true"
                            aria-controls="collapseTwo"
                          >
                            Select Category
                            <span class="fa-stack fa-sm">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fas fa-minus fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                        
                        </div>            
                        
                          <div
                          id="collapseTwo"
                          class="collapse multi-collapse show"
                          aria-labelledby="headingTwo"
                          data-parent="#accordion2"
                        >
                          <div class="card-body p-1">
                            <div class="filter-checks">
                              <ul class="list-unstyled">
                                <li
                                  v-for="(category, index) in categories"
                                  :key="index"
                                >
                                  <input
                                    v-model="applyCategoryFilters"
                                    :value="category.id"
                                    type="checkbox"
                                    :id="category.id"
                                  />
                                  <label :for="category.id">{{
                                    category.name
                                  }}</label>
                                  <!-- <div>Hello</div> -->
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        
                        </div>
                      </div>
                    </div>
                </div>
                </div>             
                <div class="filter-button text-center mt-5">
                  <a href="" @click.prevent="getitems">Apply Filter's</a>
                </div>
              </div>
            

            <div class="col-12 col-md-8 col-xl-9 col-lg-9" data-aos="fade-up" data-aos-easing="linear"
              data-aos-duration="500">
              <div class="shop-products">
                <div class="row row-cols-1 row-cols-md-6 row-cols-lg-4 row-cols-xl-3" v-if="items.length > 0">
                  <div class="col-6 col-md-6 col-lg-6 col-xl-4 mb-4 col-card p-1 p-md-2 p-lg-3" v-for="(product, index) in items"
                    :key="index" data-aos="fade-up" data-aos-duration="300">
                    <!-- <div class="card pro_card">
                      <router-link
                        :to="{
                          name: 'detail-item',
                          params: { id: product.id },
                        }"
                      >
                        <div class="item-related text-dark">
                          <p>
                            {{ product.category }}
                            <span
                              v-if="product.new_arrival"
                              class="badge badge-secondary"
                              >New</span
                            >
                            <span
                              v-else-if="product.onsale"
                              class="badge badge-danger"
                              >OnSale</span
                            >
                          </p>
                        </div>
                        <img
                          :src="'.' + product.image_path"
                          class="card-img-top img-resp d-flex justify-content-center"
                          alt="product image"
                        />
                      </router-link>
                      <div class="card-body">
                        <h6
                          class="card-title text-center text-dark border-bottom py-2"
                        >
                          <a href="#" class="text-dark text-decoration-none">{{
                            product.name
                          }}</a>
                        </h6>
                        <div
                          v-if="product.discount_price > 0"
                          class="price-tag border-bottom"
                        >
                          <span class="text-dark">
                            {{ product.total_price }}
                            <span class="discounted-price">
                              <del>{{ product.price }}</del>
                            </span>
                            <span class="product-rating">
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fas fa-star-half-alt checked"></span>
                            </span>
                          </span>
                        </div>
                        <div v-else class="price-tag border-bottom">
                          <span class="text-dark">
                            {{ product.price }} <br />
                            <span class="product-rating">
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fas fa-star-half-alt checked"></span>
                            </span>
                          </span>
                        </div>
                        <div class="product-cart" style="display: none">
                          <button class="addtocart">
                            <a @click="$root.addToCart(product.id)">
                              <div class="pretext">
                                <i class="fas fa-cart-plus"></i> ADD TO CART
                              </div>
                            </a>
                            <div class="pretext done">
                              <div class="posttext">
                                <i class="fas fa-check"></i> ADDED
                              </div>
                            </div>
                          </button>
                          <button
                            id="fav"
                            @click="$root.addTowishList(product.id)"
                            type="button"
                            class="btn wish"
                          >
                            <i class="far fa-heart un-fill"></i>
                            <i class="fas fa-heart d-none fill"></i>
                          </button>
                        </div>
                      </div>
                    </div> -->
                    <div class="card pro_card rounded-lg mx-1 mx-md-2 mx-sm-3 p-1 p-md-2 p-lg-3">
                      <router-link :to="{
                        name: 'detail-item',
                        params: { id: product.id },
                      }">
                        <div class="product-related text-white pb-0">
                          <p class="m-0">
                            <span
                            class="btn btn-danger fs-5 py-sm-1 rounded-pill px-1 py-0 px-sm-2 product_card_category"
                            >
                              {{ product.category }}
                            </span>
                            <span v-if="product.new_arrival" class="badge fontnew badge-secondary shake-animation new-product">New</span>
                            <span v-else class="badge fontnew badge-primary sale shake-animation">OnSale</span>
                          </p>
                        </div>
                        <div class="w-100 d-flex justify-content-center">
                          <!-- <div class="w-75"> -->
                            <img :src="'.' + product.image_path"
                              class="card-img-top mx-2 mb-3 img-resp overflow-hidden rounded-lg text-center"
                              :alt="`${product.meta_tags}`" />
                          <!-- </div> -->
                        </div>
                      </router-link>
                      <div class="card-body cart-detail p-1 py-sm-2 px-sm-3 ">
                        <h5 class="mb-0 custom-bold-h5 text-lg-left text-center text-dark py-2 single_line_text">
                          {{ product.name }}
                        </h5>
                        <div v-if="product.discount_price > 0"
                          class="row row-cols-md-2 text-lg-left text-center row-cols-1 m-0">
                          <span class="text-dark">
                            PKR {{ product.total_price }}
                            <span class="discounted-price text-lg-left text-center">
                              <del>{{ product.price }}</del>
                            </span>
                          </span>
                          <span class="product-rating-updated text-lg-right text-center">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star-half-alt checked"></span>
                          </span>
                        </div>
                        <div v-else class="row row-cols-md-2 text-lg-left text-center row-cols-1 m-0">
                          <span class="text-dark text-lg-left text-center">
                            PKR {{ product.price }} <br />
                          </span>
                          <span class="product-rating-updated text-lg-right text-center">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star-half-alt checked"></span>
                          </span>
                        </div>
                        <div class="product-cart" style="display: none">
                          <button @click="$root.addToCart(product.id)" class="addtocart w-75">
                            <div class="pretext">
                              <i class="fas fa-cart-plus"></i> ADD TO CART
                            </div>
                            <div class="pretext done">
                              <div class="posttext">
                                <i class="fas fa-check"></i> ADDED
                              </div>
                            </div>
                          </button>
                          <button @click="$root.addTowishList(product.id)" type="button" class="btn">
                            <i class="far fa-heart"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <h2 v-else class="d-flex justify-content-center">
                  No Product Found!
                </h2>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <pagination :data="paginate" @pagination-change-page="getitems"></pagination>
        </div>
      </div>
      <!-- abc -->
      <!-- Related Product -->
      <section class="px-2 py-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 col-md-7 col-12">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 text-center" v-for="(item, index) in footeriamges" :key="index"
                  data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                  <img :src="'.' + item" class="img-fluid w-100 h-100" alt="item image" />
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                  <img :src="'.' + footer_banner" class="img-fluid w-100" alt="footer banner" />
                </div>
              </div>
            </div>
            <div v-if="offers" class="col-lg-4 col-md-5 col-12" data-aos="fade-up" data-aos-easing="linear"
              data-aos-duration="500">
              <div>
                <div class="card shadow-lg bor-rounded">
                  <div class="text-center mt-3">
                    <span class="badge badge-prim ml-1">Save 20%</span> Special
                    Offer
                  </div>
                  <img class="img-fluid img-resp img-sz" :src="'.' + offers.image_path" alt="offers image" />
                  <div class="card-body text-center">
                    <h2 class="card-title text-primary">{{ offers.name }}</h2>
                    <h3 class="card-text">Rs: {{ offers.price }}</h3>
                  </div>
                  <div id="countdown" class="text-center">
                    <ul>
                      <li><span id="days"></span>days</li>
                      <li><span id="hours"></span>Hours</li>
                      <li><span id="minutes"></span>Minutes</li>
                      <li><span id="seconds"></span>Seconds</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="video-resp mx-5 my-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
          <!-- <video ref="videoRef" src="" id="video-container" autoplay height="auto" width="100%"></video> -->
          <iframe ref="videoRef" class="embed-responsive-item shadow border-rounded" id="video-container" autoplay
            allowfullscreen height="500px" width="100%" src=""></iframe>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: "",
      value1: "",
      max: "",
      min: "",
      name: "",
      applyCompanyFilters: [],
      applyCategoryFilters: [],
      items: {},
      paginate: {},
      footer_banner: "",
      footeriamges: {},
      videos: "",
      companies: {},
      categories: {},
      offers: {},
      end_date: "",
      bg: "./images/shop-banner-2.jpg",
      pBanner: ["pbanner1.png", "pbanner2.png", "pbanner3.png"],
    };
  },
  computed: {
  isOnSale() {
    // Your condition to determine if the beat animation should be applied
    return this.isOnSaleCondition;
  }
},
  methods: {
    getFooters() {
      let self = this;
      axios.get("getfooter").then(function (response) {
        self.footer_banner = response.data.data.banner;
        self.footeriamges = response.data.data.image;
        $("#cover").fadeOut();
      });
    },
    getVideos() {
      let self = this;

      axios.get("getvedio").then(function (response) {
        self.$refs.videoRef.src =
          "https://www.youtube.com/embed/" + response.data.data[0].video_path;
        // self.$refs.videoRef.play();
      });
    },
    async getitems(page = 1) {
      this.items = {};
      this.paginate = {};
      
      if (this.applyCategoryFilters.length > 0 || this.applyCompanyFilters.length>0) {
        // this.$route.params.category = null;
      const currentParams = { ...this.$route.params };

      // Remove the 'category' parameter
      delete currentParams.category;

      // // Replace the current route with the updated params
      this.$router.replace({ name: this.$route.name, params: currentParams });
      }
      // console.log(currentParams);
      await axios
        .get(`getitem?page=${page}`, {
          params: {
            onsale: this.$route.params.onsale,
            newArival: this.$route.params.new_arrival,
            viewall: this.$route.params.view_all,
            category: this.$route.params.category,
            company: this.$route.params.company,
            search_keyword: this.$route.params.search_keyword,
            filterByCompanies: this.applyCompanyFilters,
            filterByCategories: this.applyCategoryFilters,
            filterByRange: this.value,
            filterByRange1: this.value1,
          },
        })
        .then(({ data }) => {
          //  console.log(this.value);

          this.items = data.data.data;
          this.paginate = data.data;
          // console.log(this.paginate);
          this.value = this.value;
          this.value1 = this.value1;
          // console.log(this.value);
          setTimeout(() => {
            $("#fav").click(function () {
              //   $('#fav').addClass('red');
              $(".un-fill").toggleClass("d-none");
              $(".fill").toggleClass("d-none");
            });
            // Hover on Cards
            $(".pro_card").hover(function () {
              $(this).find(".product-cart").toggle(400);
            });
            //     $(".products-slick").slick({
            //     slidesToShow: 3,
            //     slidesToScroll: 2,
            //     autoplay: false,
            //     infinite: true,
            //     speed: 300,
            //     dots: false,
            //     arrows: true,
            //     responsive: [
            //       {
            //         breakpoint: 1281,
            //         settings: {
            //           slidesToShow: 3,
            //           slidesToScroll: 1,
            //         },
            //       },
            //       {
            //         breakpoint: 991,
            //         settings: {
            //           slidesToShow: 2,
            //           slidesToScroll: 1,
            //         },
            //       },
            //       {
            //         breakpoint: 480,
            //         settings: {
            //           slidesToShow: 1,
            //           slidesToScroll: 1,
            //         },
            //       },
            //     ],
            //   });
            // }, 0);
          }, 0);
        })
        .catch(({ response }) => {});
    },
    getCompany() {
      let self = this;
      axios.get("getcompany", {}).then(function (response) {
        self.companies = response.data.data;
        // console.log(self.companies);
      });
    },
    getCategory() {
      let self = this;

      axios.get("getcategory", {}).then(function (response) {
        self.categories = response.data.data.categories;
        // console.log(self.categories);
      });
    },
        filterByRange() {
      let self = this;
      axios
        .post("getprice", {
          params: {
            website: true,
          },
        })
        .then(function (response) {
          // console.log(response.data);
          self.max = response.data.data.max;
          self.min = response.data.data.min;
          //   this.enableCross = false;
          // self.value =[self.max,self.min];
          // self.formatter = value => `${value}`;
        });
    },
    getOffers() {
      let self = this;
      axios.get("getoffer", {}).then(function (response) {
        self.offers = response.data.data;
        self.end_date = response.data.data.end_date;
        (function () {
          const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;
          var end_dat = self.end_date.toString();
          let birthday = end_dat + " " + "00:00:00",
            countDown = new Date(birthday).getTime(),
            x = setInterval(function () {
              let now = new Date().getTime(),
                distance = countDown - now;

              (document.getElementById("days").innerText = Math.floor(
                distance / day
              )),
                (document.getElementById("hours").innerText = Math.floor(
                  (distance % day) / hour
                )),
                (document.getElementById("minutes").innerText = Math.floor(
                  (distance % hour) / minute
                )),
                (document.getElementById("seconds").innerText = Math.floor(
                  (distance % minute) / second
                ));

              //do something later when date is reached
              if (distance < 0) {
                headline.innerText = "It's my birthday!";
                countdown.style.display = "none";
                content.style.display = "block";

                clearInterval(x);
              }
              //seconds
            }, 0);
        })();
      });
    },
    // setValue() {
    //     // alert('test');
    //     let self = this;
    //     console.log(this.value);
    //     this.$emit('setValue ', this.value);
    // }
  },
  watch: {
    $route(to, from) {
      this.getitems();
    },
  },
  mounted() {
    // let self = this;
    this.getCompany();
    this.getCategory();
    this.getOffers();
    this.getitems();
    this.getVideos();
    this.getFooters();
    this.filterByRange();
    
    $(document).ready(function () {
      // SideBar Filters
      $("#accordion").on("hide.bs.collapse show.bs.collapse", (e) => {
        $(e.target).prev().find("i:last-child").toggleClass("fa-minus fa-plus");
      });
      $("#accordion2").on("hide.bs.collapse show.bs.collapse", (e) => {
        $(e.target).prev().find("i:last-child").toggleClass("fa-minus fa-plus");
      });
    });
  },
  //         created() {
  //     this.min = 0
  //     this.max = 250
  //     this.formatter = value => `${value}`
  //   }
};
</script>

<style scoped>
.filter-title {
  background-image: linear-gradient(to right, #005690, #eb1922);
  padding: 10px;
  color: white;
  /* margin-top: 10px; */
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

#countdown ul li {
  display: inline-block;
  font-size: 12px;
  list-style-type: none;
  padding: 0px 4px;
  text-transform: uppercase;
}

#countdown ul li span {
  display: block;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  width: 40px;
  margin-bottom: 5px;
}
.product-cart .btn {
  font-size: 18px;
  line-height: 21px;
  /* border-radius: 10px; */
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  color: #1e56ab;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: inherit;
  border: 0;
  position: absolute;
  right: 8px;
  top: 11px;
  border: 1px solid #eb1922;
  border-radius: 100px;
}

.btn {
  font-size: 14px;
}

.product-cart .btn i {
  margin-right: 10px;
}

.product-cart button[type="button"] {
  cursor: pointer;
  padding: 8px 10px;
  background: #fff;
}

.product-cart button[type="button"] i {
  margin-right: 0;
  color: #eb1922;
}

.border-rounded {
  border-radius: 1rem !important;
}

.spacer-text {
  margin: 0;
  padding-left: 18px;
}

.spacer-text:hover {
  color: #e91923;
}

.one-time {
  height: 60vh;
  overflow: hidden;
  object-fit: cover;
  border: 0;
}

.one-time div {
  border: 0;
}

.one-time img {
  height: 100%;
  width: 100%;
}

.cart-detail {
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  padding: 5px;
}

/*demo*/
.product-category span {
  font-size: 14px;
  color: #fff;
}

.product-rating span {
  /* font-size: 18px; */
  font-weight: 700;
  border-bottom: 1px solid #e2dede;
  margin: 15px 0px;
  color: #fff;
}

.product-details span:nth-child(2) {
  padding: 15px 0px;
  border: none;
}

.product-rating span {
  font-size: 10px;
  border: none;
  color: gold;
}

.wrapper {
  margin-top: 30px;
}

.wrapper .card {
  cursor: pointer;
}

.weight {
  margin-top: -65px;
  transition: all 0.5s;
}

.weight small {
  color: #e2dede;
}

.wrapper .card:hover .buttons {
  opacity: 1;
}

.wrapper .card:hover .weight {
  margin-top: 10px;
}

.card {
  background-color: #f2f0f1 !important;
}

.wrapper .card:hover {
  transform: scale(1.04);
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px #e91923;
}

.products-slick .card .card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5px 15px;
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.products-slick .card:hover {
  box-shadow: none;
}

.products-slick .card .card-footer .btn {
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px;
  background: #f2f0f1;
  display: inline-block;
  vertical-align: middle;
  color: #1e56ab;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: inherit;
  border: 0;
}

.products-slick .card .card-footer .btn i {
  margin-right: 10px;
}

.products-slick .card .card-footer button[type="button"] {
  margin-left: 10px;
  cursor: pointer;
  padding: 10px 14px;
  background: #fff;
}

.products-slick .card .card-footer button[type="button"] i {
  margin-right: 0;
  color: #eb1922;
}

.spacer-text {
  margin: 0;
  padding-left: 18px;
}

.spacer-text:hover {
  color: #e91923;
}

.one-time {
  height: 60vh;
  overflow: hidden;
  object-fit: cover;
  border: 0;
}

.one-time div {
  border: 0;
}

.one-time img {
  height: 100%;
  width: 100%;
}

.cart-detail {
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  padding: 5px;
}

/*demo*/
.product-category span {
  font-size: 14px;
  color: #fff;
}

.product-details span {
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #e2dede;
  margin: 15px 0px;
  color: #fff;
}

.product-details span:nth-child(2) {
  padding: 15px 0px;
  border: none;
}

.product-rating-updated {
  position: static !important;
}

.product-rating-updated span {
  font-size: 18x !important;
  border: none !important;
  color: gold !important;
  font-weight: 700;
}

.wrapper {
  margin-top: 30px;
}

.wrapper .card {
  cursor: pointer;
}

.weight {
  margin-top: -65px;
  transition: all 0.5s;
}

.weight small {
  color: #e2dede;
}

.wrapper .card:hover .buttons {
  opacity: 1;
}

.wrapper .card:hover .weight {
  margin-top: 10px;
}

.card {
  background-color: #f2f0f1 !important;
}

.wrapper .card:hover {
  transform: scale(1.04);
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px #e91923;
}

.products-slick .card .card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5px 15px;
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.products-slick .card:hover {
  box-shadow: none;
}

.products-slick .card .card-footer .btn {
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px;
  background: #f2f0f1;
  display: inline-block;
  vertical-align: middle;
  color: #1e56ab;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: inherit;
  border: 0;
}

.products-slick .card .card-footer .btn i {
  margin-right: 10px;
}

.products-slick .card .card-footer button[type="button"] {
  margin-left: 10px;
  cursor: pointer;
  padding: 10px 14px;
  background: #fff;
}

.products-slick .card .card-footer button[type="button"] i {
  margin-right: 0;
  color: #eb1922;
}
</style>
