<template>
    <div id="terms">
        <section class="py-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="terms-heading text-center">
                            <h1>Terms & Conditions</h1>
                        </div>
                        <div class="intro">
                            <p>We at Al-Mumtaz ensure our clients are Satisfied/Happy/Cheerful with our Services and Products. To accomplish this we need to follow a precise framework, comprising of smooth and trustworthy rules and regulations. Here we Represent/depict a portion of our user friendly/customer centered key agreements.</p>
                        </div>
                        <!--  -->
                        <div class="sub-heading">
                            <h4 class="font-weight-bold">Availability</h4>
                        </div>
                        <div class="sub-desc">
                            <p>Special Offer Items/Seasonal Sales Items availability is open to all our valued/esteemed customers but restricted for that specific period and also depends on the availability of such products/items.</p>
                        </div>
                        <!--  -->
                        <div class="sub-heading">
                            <h4 class="font-weight-bold">Cancellation</h4>
                        </div>
                        <div class="sub-desc">
                            <p>
                                Our valued customers have legitimate right to cancel/drop the product request but before the dispatch/delivery of the product. Standard charges may apply if an order is canceled/dropped after dispatch/delivery of product.
                            </p>
                        </div>
                         <div class="sub-heading">
                            <h4 class="font-weight-bold">Change in Prices </h4>
                        </div>
                        <div class="sub-desc">
                            <p>Stay connected with us through our website and our other social media platforms for updated prices, discounts and packages on our products. Prices, discounts and packages are subject to change at any time without any prior notice.</p>
                        </div>
                        <div class="sub-heading">
                            <h4 class="font-weight-bold">Client Engagement</h4>
                        </div>
                        <div class="sub-desc">
                            <p>We at Al-Mumtaz love to remain connected with our customers to respond to their questions and queries using different medium of exchanges oral, written or verbal. Any conversation or information related to prices, discounts and product packages shared through all these means can be changed without any prior notice. </p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">Delivery</h4>
                        </div>
                        <div class="sub-desc">
                            <p>We make an honest effort to deliver your requested product to your doorstep before as quickly as possible, however there can be certain factors beyond human control due to which delivery may be delayed like, storm, rain, road blockage, flood etc.   </p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">Incorrect Information</h4>
                        </div>
                        <div class="sub-desc">
                            <p>Primary responsibility to provide correct information rests with the customers .We are not accountable for any inaccurate data given by the client or customer to benefit from our products or services</p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">Modification</h4>
                        </div>
                        <div class="sub-desc">
                            <p>To provide updated products to our valued customers we (Al-Mumtaz) preserve the right to change prices, discounts, and offers at whatever time. </p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">Right to Refuse </h4>
                        </div>
                        <div class="sub-desc">
                            <p>Our offers, deals and packages are for one and all without any bias. We reserve the right to refuse our services at any time due to circumstances such as delay in payment, last time changes in order by the client, unavailability of product, distance etc. </p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">Unauthorized Use </h4>
                        </div>
                        <div class="sub-desc">
                            <p>To guard our valued customers from pirated content by utilizing our services you consent not to share or reuse any of our services for any unauthorized purpose without prior approval. </p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">Warranty</h4>
                        </div>
                        <div class="sub-desc">
                            <p>We provide genuine and authentic products to our customers containing original brand warranty with the products. All warranty claims shall be headed to Manufacturer’s warranty claim centers or customer service centers</p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">Promotional Activities</h4>
                        </div>
                        <div class="sub-desc">
                            <p>We are irresponsible for misunderstanding of information displayed on our social media banners and posts. Any special voucher is legitimate to be utilized just a single time, and numerous use by choosing different unapproved ways is unlawful. </p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">Brand Name </h4>
                        </div>
                        <div class="sub-desc">
                            <p>Brand names, logos, designs on our site may not be utilized/reused for any services that are not being given by us. </p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">Typographical Errors</h4>
                        </div>
                        <div class="sub-desc">
                            <p>We reserve the right to correct any typographical errors caused by human error on our social media platforms or web without any earlier notice.</p>
                      </div>
                      <div class="sub-heading">
                            <h4 class="font-weight-bold">Clients Feedback </h4>
                        </div>
                        <div class="sub-desc">
                            <p>We reserve the right to use or produce customer’s feedback, comments, suggestions, reviews or recommendations anytime without prior approval that customers send through different platforms.
                                We preserve the right to upgrade our terms and conditions at any time. It is customer’s responsibility to remain aware of such renewal in terms and conditions on our website.
                            </p>                      
                       <div class="py-2">
                           <h4 class="font-weight-bold">(By utilizing almumtaz.com.pk site you consent to the above mentioned terms and conditions).</h4>
                       </div>
                      </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    mounted() {
        $('#cover').fadeOut();
        $('html, body').animate({
            scrollTop: $("#main_head").offset().top
        }, 500);
    }
};
</script>

<style>

</style>