<template>
    <div class="container mt-4 mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
        <h1 class="text-center font-weight-bold mb-4">Wishlist</h1>
        <div class="row">
            <div class="col-9 col-md-6 col-lg-3 col-xl-3 mb-4 col-card" v-for="(wishlistItem, index) in wishlistItems" :key="index" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
                <div class="card card-bg-clr">
                    <div class="view zoom z-depth-2 rounded">
                        <img class="card-img-top img-resp d-flex justify-content-center" :src="('.'+wishlistItem.item.image_path)" alt="wishlist item image" />
                    </div>
                    <div class="text-center pt-4 text-white">
                        <h5>{{wishlistItem.item.name}}</h5>
                        <ul class="rating border-bottom">
                            <i class="fas fa-star fa-sm text-warning"></i>
                            <i class="fas fa-star fa-sm text-warning"></i>
                            <i class="fas fa-star fa-sm text-warning"></i>
                            <i class="fas fa-star fa-sm text-warning"></i>
                            <i class="fas fa-star fa-sm text-warning"></i>
                        </ul>
                        <h6 class="mb-3">{{wishlistItem.price}}</h6>
                        <button class="btn btn-primary btn-sm mr-1 mb-2" @click="$root.addToCart(wishlistItem.item_id)">Add to cart</button>
                        <router-link :to="{ name: 'detail-item', params: { id: wishlistItem.item_id}}" class="btn btn-light btn-sm mr-1 mb-2">Details</router-link>
                        <button @click="deleteWishlistItem(wishlistItem.id)" class="btn btn-elegant btn-sm px-3 mb-2 material-tooltip-main text-white" data-toggle="tooltip" data-placement="top" title="Remove from wishlist">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div v-if="wishlistItems.length < 1" class="col-md-12">
                <h4>No Record Found!</h4>
            </div>
            <div class="col-md-12" id="without_login_message" style="display:none"></div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                wishlistItems: {},
            };
        },
        methods: {
            getwishListItems() {
                let self = this;
                axios
                    .get("wishlist")
                    .then(function (response) {
                        self.wishlistItems = response.data.data;
                        $('#cover').fadeOut();
                    })
                    .catch(function (error) {
                        if(error.response){
                            if(error.response.status == 401){
                                $('#without_login_message').append('<h4>Please Login To View Your WishList!</h4>');
                                $('#without_login_message').show();
                            }
                        }
                    });
            },
            deleteWishlistItem(id) {
                if (confirm("Are you Sure? You Want to delete this item.")) {
                    let self = this;
                    axios
                        .delete("wishlist/" + id)
                        .then(function (response) {
                            if (response.data.code == 200) {
                                self.getwishListItems();
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }        
            },
        },
        mounted() {
            this.getwishListItems();
            $("html, body").animate(
                {
                    scrollTop: $("#main_head").offset().top,
                },
                500
            );
        },
    };
</script>
<style scoped>
    @media screen and (max-width: 1199px) {
        .d-hide {
            display: none;
        }
    }
    @media screen and (max-width: 991px) {
        .d-hide {
            display: inline-block;
        }
    }
</style>
